<div class="container-fluid">
  <div class="row bg-dark">
<div class="container">
<nav class="navbar navbar-expand-lg " style="border: black; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px">
  <a class="navbar-brand"routerLink="/app/home">
    <figure class="logo">
      <img src="/assets/images/playchain-logo-color-big.png" alt="logo" title="logo"/>
    </figure>
  </a>
  <button class="navbar-toggler" id="nav-tog" type="button" data-toggle="collapse"  data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active">
        <a class="nav-link text-light" routerLink="/app/home" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/users" routerLinkActive="router-link-active">Users Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/address-manage" routerLinkActive="router-link-active">Address Manage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/fn-history" routerLinkActive="router-link-active">Financial History</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" routerLink="/app/assign-token" routerLinkActive="active">Assign Tokens</a>-->
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/message-center" routerLinkActive="router-link-active">Messaging Center</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/app/config" routerLinkActive="router-link-active">Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" (click)="logout()" href="/login">Log out</a>
      </li>
    </ul>
  </div>
</nav>
  </div>
</div>
</div>


