<app-header></app-header>
<div class="div_configuration mb-5">
  <div class="container">
    <div class="container user-mana ">
      <div class="token_div mt-4 row">
        <ul>
          <li>
              <span class="inner_token">
                <p>total addresses created</p>
                <h3>{{addressStatistics?.totalAddressesCreated}}</h3>
              </span>
          </li>
          <li>
              <span class="inner_token">
                <p>total addresses used</p>
                <h3>{{addressStatistics?.totalAddressesUsed}}</h3>
              </span>
          </li>
          <li>
              <span class="inner_token">
                <p>total addresses not used</p>
                <h3>{{addressStatistics?.totalAddressesNotUsed}}</h3>
              </span>
          </li>
        </ul>
      </div>
      <button class="btn" type="button" data-toggle="modal" data-target="#exampleModal">create addresses</button>
      <button class="btn" type="button" (click)="fetchAddresses()" [disabled]="pageStatus === 'PROCESSING'">fetch all
        addresses
      </button>
    </div>
    <div *ngIf="isFetchProcess" class="loading"></div>

    <!-- address generation model  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal_user" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="isAddressProcess" class="loading"></div>
            <div class="assign-tokens table_bar m-auto pt-3">
              <h2 class="text-left">CREATE ADDRESSES</h2>
              <form class="assign-cal" [formGroup]="generateAdreesesform" autocomplete="off"
                    (ngSubmit)="generateAdreeses()">
                <div class="form-row col-sm-12 m-auto p-0">
                  <div class="col-md-4 mb-3 pr-3">
                    <label>no of addresses</label>
                    <input type="number" min="0" name="noofaddress" formControlName="noofaddress" class="form-control"
                           placeholder="no of addresses" required>
                    <span
                      *ngIf="generateAdreesesform.controls['noofaddress'].invalid && (generateAdreesesform.controls['noofaddress'].touched && generateAdreesesform.controls['noofaddress'].dirty)"
                      class="col-sm-12 form-input-error pt-3 text-danger">Invalid Numbers</span>
                  </div>
                </div>
                <button class="btn btn-center text-center" type="submit"
                        [disabled]="generateAdreesesform.invalid || pageStatus === 'PROCESSING'">create addresses
                </button>
              </form>
              <swal
                #successSwal
                title="SUCCESSS"
                text="Addresses has been generated successfully!"
                type="warning"
                [focusCancel]="true">
              </swal>
              <swal
                #successAddressSwal
                title="SUCCESSS"
                text="Addresses has been fetched successfully!"
                type="warning"
                [focusCancel]="true">
              </swal>
              <swal
                #errorSwal
                title="{{pageError}}"
                type="warning"
                [focusCancel]="true">
              </swal>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end address generation model  -->

<app-footer></app-footer>
