
<app-navigation></app-navigation>
<div class="div_mar_25">
<div  class=" modal_term">
  <!--<ngx-smart-modal [identifier]="'termsModal'" [customClass]="'modal_term'" [closable]="false" [escapeAble]="false">-->
    <div class="container">
      <h1>Terms & Conditions</h1>
      <span class="span_bor_div"></span>
      <p>This presentation includes valuation projections and other predicitive statements that represent GenesisX's assumptions and expectations in light
        of currently available information. These valuation projections and other predictive statements are based on industry trends, circumstances and other factors,
        and they involve risks, variables and uncertainties, many of which are not within Block Gemini's control. Block Gemini's actual valuation, performance and results
        may differ from those projected in this presentation. Consequently, no guarantee is presented or implied as to the accurancy of specific valuation projections or
        predictive statements contained herein.</p>
      <p>This Cautionary Statement expressly qualifies the valuation projections and other predictive statements contained in this presentation. Do not place undue reliance
        upon any such valuation projections, which speak only as of the date made. Block Gemini expressly disclaims any and all liability relating to or resulting from
        the use of this presentation. Block Gemini does not undertake or accept any obligation or undertaking to provide any updates or revisions to any portion of this
        presentation, including any valutaion projections or other predicitive statements, to reflect any change in expectations or any change in events, conditions,
        assumptions or circumstances on which any such projections and other predictive statements are based. Neither the delivery of this presentation nor entering into a
        transaction shall, under any circumstances, create any implication that there has been no change in the business and of Block Gemini since the date of this presentation
        or the ddata as of which any statement is made. In furnishing this presentation, Block Gemini does not undertake or accept any obligation to update any of the information
        contained in the presentation or to correct any inaccuracies that may become apparent.</p>
      <p>The information contained herein, while obtained from sources that are believed to be reliable, is not guaranteed as to its accurancy or completeness. The information
        contained herein may be amended. The information contained in this presentation is intened only for the persons to whom it is transmitted for the purposes of evaluating
        the subject matter of this presentation and such information or representation must not be relied upon. This presentation has been prepared solely for informational purposes
        only. The recipient should not sonstrue the contents of this presentation as legel, tax, accounting or investment advice or a recommendation. The recipient should consult
        its own counsel its own counsel and tax and financial advisors as to legal and related matters concerning the matters described herein, and, by accepting this presentation,
        the recipient confirms that it is not relying upon the information contained herein to make any decision. This presentation does not purport to be all-inclusive or to
        contain all of the information that the recipient may require.</p>
      <p>This presentation shall remain the property of Block Gemini and Block Gemini reserves the right to require the return or destruction of this presentation (together with
        any copies or extracts thereof) at any time. This presentation contains material, non-public information concerning Block Gemini and its affiliates. The recipient acknowledges
        that the Block Gemini.</p>
      <div class="col-md-12 dashboard-in text-right">
        <span><a class="glb-btn-pep" (click)="acceptTermsAndCondition()">agree</a></span>
        <span><a class="glb-btn-syp" href="">disagree</a></span>
      </div>
    </div>
  <!--<div class="login_left">-->
    <!--<ul>-->
      <!--<li><a class="glb-btn-pep" >agree</a></li>-->
      <!--<li><a class="glb-btn-syp" href="">disagree</a></li>-->
    <!--</ul>-->
  <!--</div>-->

  <!--</ngx-smart-modal>-->
</div>
</div>

