.nav_list{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  color: #cccccc;
  font-size: 14px;
  z-index: 1;
}
.nav_icon{
  position: relative;
  float: left;
  width: 100%;
  height: 60px;
}

figure.nav_icon{
  margin-bottom: 0;
}
.nav_icon img,
.nav_icon span {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
}
.nav_list ul li a span.home{
  background: url('/assets/images/bg-ico-dashboard-icon-home.svg') no-repeat;
}
.nav_list ul li a span.profile{
  background: url('/assets/images/bg-ico-dashboard-icon-profile.svg') no-repeat;
}
.nav_list ul li a span.trans{
  background: url('/assets/images/bg-ico-dashboard-icon-transactions.svg') no-repeat;
}
.nav_list ul li a span.referral{
  background: url('/assets/images/bg-ico-dashboard-icon-referrals.svg') no-repeat;
}
.nav_list ul li a span.support{
  background: url('/assets/images/bg-ico-dashboard-icon-support.svg') no-repeat;
}
.nav_list ul li a span.bubble{
  background: url('/assets/images/bg-ico-dashboard-icon-bubble.svg') no-repeat;
}
.nav_list ul li a.active span.home{
  background: url('/assets/images/home-active.svg') no-repeat;
}
.nav_list ul li a.active span.profile{
  background: url('/assets/images/profile-active.svg') no-repeat;
}
.nav_list ul li a.active span.trans{
  background: url('/assets/images/trans-active.svg') no-repeat;
}
.nav_list ul li a.active span.referral{
  background: url('/assets/images/ref-active.svg') no-repeat;
}
.nav_list ul li a.active span.support{
  background: url('/assets/images/sup-active.svg') no-repeat;
}
.nav_list ul li a.active span.bubble{
  background: url('/assets/images/bubble-active.svg') no-repeat;
}
.nav_list ul{
  list-style: none;
  z-index: 1;
  position: relative;
}
.nav_list ul li{
  padding: 0;
}
.nav_list ul li a{
  width: 100%;
  float: left;
  background: #343a40;
}
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips .tooltip {
  position: absolute;
  width:80px;
  color: #93278f;
  background: #ffffff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
a.tooltips .tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 15px;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #ffffff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips .tooltip {
  visibility: visible;
  opacity: 0.8;
  top:0;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}
.foot-copy{
  margin-bottom: 8px;
  letter-spacing: 1px;
  box-shadow: 0 -3px 2px 1px rgba(133, 125, 125, 0.05);
  z-index: 2;
  position: relative;
}
@media screen and (max-width: 767px) {
  .nav_icon {
    height: 50px;
  }
  .nav_icon span {
    width: 20px;
    height: 20px;
  }
}
