<div class="mobile nav_list text-center mt-5">
  <ul class="row p-0 m-0 ">
    <li class="col-sm-2">
      <a class="tooltips" routerLink="/home" routerLinkActive="active">
        <figure class="nav_icon">
          <span class="home"></span>
        </figure>
        <span class="tooltip">Home</span>
      </a>
    </li>
    <li class="col-sm-2">
      <a  class="tooltips" routerLink="/profile" routerLinkActive="active">
        <figure class="nav_icon">
          <span class="profile"></span>
        </figure>
        <span class="tooltip">Profile</span>
      </a>
    </li>
    <li class="col-sm-2">
      <a class="tooltips" routerLink="/transaction" routerLinkActive="active">
      <figure class="nav_icon">
        <span class="trans"></span>
        </figure>
        <span class="tooltip">Transaction</span>
      </a>
    </li>
    <li class="col-sm-2">
      <a class="tooltips" routerLink="/referral" routerLinkActive="active">
        <figure class="nav_icon">
          <span class="referral"></span>
        </figure>
        <span class="tooltip">Referral</span>
      </a>
    </li>
    <li class="col-sm-2">
      <a class="tooltips" routerLink="/support" routerLinkActive="active">
        <figure class="nav_icon">
          <span class="support"></span>
        </figure>
        <span class="tooltip">Support</span>
      </a>
    </li>
    <li class="col-sm-2">
      <a class="tooltips" routerLink="/notification" routerLinkActive="active">
        <figure class="nav_icon">
          <span class="bubble"></span>
        </figure>
        <span class="tooltip">Bubble</span>
      </a>
    </li>
  </ul>
  <p class="foot-copy p-3 m-0">The GenesisX ICO Dashboard is powered by Block Gemini | &copy; Copyright 2018, Block Gemini Technologies FZ-LLC, Dubai, UAE</p>
</div>
