<div class="container">
  <section class="main_block">
    <div class="container h-100">
      <br>
      <br>
      <h2>
        Sorry! Looking page was not found!
      </h2>
    </div>
  </section>
</div>
