<div class="home-landing footer-remove">
  <app-header></app-header>
  <div class="div_mar_25">
    <!--<app-ico-timer></app-ico-timer>-->
    <section class="token-list container">
      <div class="h-100">
        <div class="col-md-12 apply-now text-center buy-tokens">
          <div class="">
            <div class="ra-sap">
              <ul class="nav nav-tabs text-center" role="tablist">
                <li class="nav-item p-0">
                  <span class="nav-link ">
                    <span class="number">1</span>
                    <span class="text-in"> Payment Method
                    </span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link ">
                    <span class="number">2</span>
                    <span class="text-in">Complete Transaction</span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link">
                    <span class="number">3</span>
                    <span class="text-in">Address</span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link active" data-toggle="tab" href="#completed-transaction" role="tab"
                        id="completeTransaction"
                        #completeTransaction>
                    <span class="number">4</span>
                    <span class="text-in">Transaction Details</span>
                  </span>
                </li>
              </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content tab_content_block">
              <div class="tab-pane" id="select-pay" role="tabpanel">
                <div class="pay-method col-sm-12 p-0">
                  <div class="select-pay-method">
                    <div class="rates-row">
                      <ul>
                        <li>1 TKN
                          <span class="space">=</span>
                          <span class="color-blue">{{tkn2USD}} USD </span>
                        </li>
                        <li>
                          <span class="color-blue">ETH = {{(1/tkn2Teth).toFixed(8)}}</span>
                        </li>
                        <li>
                          <span class="color-blue">BTC = {{(1/tkn2Tbtc).toFixed(8)}}</span>
                        </li>
                        <li>
                          <span class="color-blue">LTC = {{(1/tkn2Tltc).toFixed(8)}} </span>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
              <div class="tab-pane active" id="completed-transaction" role="tabpanel">

                <div class="col-md-12 global-rap tre-tab justify-content-center align-items-center  mt-5 mb-5">
                  <div class="table-responsive">
                    <table class="table table_div text-center">
                      <thead>
                      <tr>
                        <th class="border-top-0" scope="col">AMOUNT</th>
                        <th class="border-top-0" scope="col">CURRENCY</th>
                        <th class="border-top-0" scope="col">STATUS</th>
                        <th class="border-top-0" scope="col">TYPE</th>
                        <th class="border-top-0" scope="col">ADDRESS</th>
                        <th class="border-top-0" scope="col">DATE</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let trans of finHistory | paginate: { itemsPerPage: 5, currentPage: p1 }">
                        <td>{{trans.amount.toFixed(8)}}</td>
                        <td>{{trans.currencyName }}</td>
                        <td>Processed</td>
                        <td>
                          {{trans.type }}

                        </td>
                        <td>
                          {{trans.coinAddressId.address}}

                        </td>
                        <td>{{trans.timestamp| date:'medium' }}</td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="pull-right" *ngIf="finHistory && finHistory.length>0">
                      <button class="btn" (click)="downloadReceipt(finHistory[0].coinAddressId)"><i class="fa fa-download"></i>
                      </button>
                    </div>
                  </div>
                  <!--<div *ngIf="!transaction || transaction.length === 0">-->
                  <!--<p>No record found!</p>-->
                  <!--</div>-->
                  <!--<div class="py">-->
                  <!--<a href="/home" class="glb-btn-pep status">Get More Tokens</a>-->
                  <!--</div>-->
                  <div class="paginat">
                    <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
                  </div>
                </div>
                <swal
                  #errorSwal
                  title="{{pageError}}"
                  type="warning"
                  [focusCancel]="true">
                </swal>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-navigation></app-navigation>
</div>
