.title {
  opacity: 0;
  animation: show 0.35s forwards ease-in-out 0.5s;
}

.list-v .global-rap {
  min-height: 150px;
}

.list-v .global-rap.toc-sup {
  padding: 20px;
}

.list-v .global-rap.my-toc {
  padding: 0;
}

.br-l {
  border-left: 1px solid #e2e1e1;
}

.br-b {
  border-bottom: 1px solid #e2e1e1;
}

.button-val span a {
  width: 300px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 8px;
  margin: 30px 20px 0;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
  text-decoration: none;
}

.ref-overlay {
  padding: 30px 60px;
}

.social-link .bt-st {
  width: 200px;
}

.type-payment .glb-btn-pep {
  background: #ed1e79;
  color: #ffffff;
}

.type-payment .glb-btn-pep.active {
  background: #ed1e79;
}

.type-payment .bt-st {
  width: 120px;
  height: 40px;
  margin: 20px 0 5px;
}

.type-payment .sp {
  width: 18%;
  display: inline-block;
}

.type-payment .sp.active a {
  background: #ed1e79;
  color: #ffffff;
}

.apply-now ul.nav.nav-tabs li {
  display: table-cell;
}
.apply-now ul.nav.nav-tabs.text-center {
  display: table;
  margin: auto;
  width: 600px;
  max-width: 100%;
}

.ref-sec .bt-st {
  width: 150px;
  margin: 0;
}

.type-payment .val {
  padding: 10px 0;
  color: #cccccc;
}

.type-payment .sp.active .val {
  color: #93278f;
}

.buy-tokens .tab_content_block .tab-pane {
  padding: 2% 0;
}

.invest-amt span.eq {
  position: absolute;
  top: 5px;
  bottom: 0;
  margin: auto;
  height: 50%;
  font-size: 22px;
}

.promo-rap {
  padding: 10px 250px;
}

.promo-rap .bt-st {
  padding: 13px 40px;
  margin: 17px 20px 0;
}

.price-dis .table_div td {
  padding: 15px 0;
}

.price-dis .table_div .color-bot {
  border-top: 0;
}

.price-dis .span_bor_div {
  margin: 0;
  margin-left: 0;
  display: block;
  width: 100%;
  height: 3px;
}

.social-link button {
  cursor: pointer;
}

.copy button {
  cursor: pointer;
}
.copy .bt-st{
  padding: 12px 8px;
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  width: 40px;
  font-size: 30px;
  line-height: 54px;
  font-family: orkney-light;
  height: 50px;
  display: inline-block;
  background: #ffffff;
  border-radius: 3px;
  margin: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(107, 115, 129, 0.4);
  box-shadow: 0px 1px 1px 1px rgba(107, 115, 129, 0.4);
}

.timer_div {
  list-style: none;
  padding: 0;
  text-align: center;
}

.timer_div li {
  display: inline-block;
  padding: 2px;
}

.timer_div li p {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: orkney-light;
  margin-bottom: 0;
}

.bar_chart {
  float: left;
}

.inner_chart {
  background: #ffffff;
}
.ref-ll{
  clear: both;
}
.ref-ll h1{
  padding-top: 120px;
  clear: both;
}
.bar_chart h1,
.table_main h1{
  padding-top: 30px;
}
/*PAYMENT-METHOD-CSS*/

.payments-select ul {
  margin: 0 -25px;
  list-style: none;
}
.payments-select li {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 25px;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  vertical-align: top;
  width: 180px;
  height: 250px;
  text-align: center;
  object-fit: contain;
  transition: all .3s ease;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 5px 7px 0px #ececec;
}
.payments-select li:hover {
  border-radius: 30px;
  width: 180px;
  height: 260px;
  margin-top: -5px;
  margin-bottom: -5px;
  background-image: linear-gradient(58deg, #93278f, #ed1e79);
  /*background: #ABA2C6;*/
  box-shadow: 0 40px 50px 0 #e1e1e1;
}
.payments-select li:hover p, .payments-select li:hover .check, .payments-select li:hover h3 {
  color: #fff;
}
.payments-select a {
  display: block;
  margin: -200px;
  padding: 200px;
  color: #696969;
}
.invest-amt .form-control{
  text-align: center;
}
.payments-select h3{
  font-family: 'orkney-bold';
}
.payments-select svg * {
  fill: #000000;
}
.payments-select li:hover svg * {
  fill: #fff;
}
.payments-select .ico {
  margin: -8px 0 24px;
  vertical-align: top;
  display: inline-block;
}
.payments-select p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  color: #343a40;
}
.payments-select .label + p {
  margin-top: -5px;
}
.rates-row {
  text-align: center;
  font-size: 0;
  padding: 24px 0;
  color: #343a40;
}
.rates-row li {
  list-style: none;
  display: inline-block;
  line-height: normal;
  padding: 10px 22px;
  font-size: 16px;
  text-align: center;
  color: #93278f;
  font-family: 'orkney-bold';
}
.rates-row .space {
  padding: 0 12px;
}
.color-blue {
  color: #696969;
}
.rates-row li + li {
  position: relative;
}
.rates-row li + li:before {
  content: '';
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: 0;
  margin: auto;
  height: 20px;
  border-left: 2px solid #ed1e79;
}

@media screen and (max-width: 1320px) {
  .payments-select li {
    margin-left: 10px;
    margin-right: 10px;
    width: 170px;
  }
  .payments-select li:hover {
    width: 190px;
  }
}
@media screen and (max-width: 991px) {
  .sup-t {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .ref-overlay {
    padding: 30px 15px;
  }
  .type-payment .sp {
    width: 25%;
  }
  .social-link .bt-st {
    width: 160px;
  }
  .ref-sec .bt-st {
    width: 120px;
  }
  .button-val span a {
    width: 230px;
  }
}

@media screen and (max-width: 768px) {
  .type-payment .sp {
    width: 49%;
  }
  .ref-overlay {
    padding: 0;
  }
  .button-val span a {
    width: 140px;
    padding: 5px 0;
    margin: 30px 5px 0;
    font-size: 11px;
  }
  .ref-sec .bt-st {
    margin-top: 30px;
  }
  .social-link .bt-st {
    width: 120px;
  }
  .invest-amt .p-5 {
    padding: 1rem!important;
  }
  .promo-rap{
    padding: 0;
  }
  .type-payment .sp {
    width: 90%;
  }
  .sup-t {
    padding: 0;
  }

  .box {
    width: 24px;
    font-size: 20px;
    line-height: 34px;
    height: 30px;
    margin: 3px;
  }
  .timer_div li{
    padding: 0;
  }
  .timer_div li p{
    font-size: 8px;
  }
  .full-val{
    font-size: 25px;
  }
  .br-l{
    border-left: 1px solid transparent!important;
    border-top:1px solid #e2e1e1!important;
  }
  .span_ref_link, .apply-now, .table_main, .bar_chart{
    padding-left: 0;
    padding-right: 0;
  }
  .social-link .bt-st{
    width: 102px;
    margin: 20px 0;
    padding: 5px;
    font-size: 10px;
  }
  .copy .bt-st, .bt-st{
    padding: 5px 8px;
  }
  .rates-row li.fl-one{
    display: block!important;
    margin-bottom: 10px;
  }
  .rates-row li{
    padding: 5px 10px;
  }
  .rates-row li+li:before{
    display: none!important;
  }
  .apply-now .nav-tabs .nav-link.active .text-in {
    font-size: 14px;
  }
  .apply-now ul.nav.nav-tabs.text-center {
    margin: 0;
  }
  .payments-select {
    padding: 0px 0 25px;
  }
  .payments-select li {
    margin: 10px;
  }
  .rates-row {
    padding: 24px 0 0;
  }
  .apply-now {
    padding-top: 5px!important;
  }
}


