<div class="home-landing footer-remove">
  <app-header></app-header>
  <div class="div_mar_25">
    <!--<app-ico-timer></app-ico-timer>-->
    <section class="token-list container">
      <div class="h-100">
        <div class="col-md-12 apply-now text-center buy-tokens">
          <div class="">
            <div class="ra-sap">
              <ul class="nav nav-tabs text-center" role="tablist">
                <li class="nav-item p-0">
                  <span class="nav-link ">
                    <span class="number">1</span>
                    <span class="text-in"> Payment Method
                    </span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link active" data-toggle="tab" href="#Com-trans" role="tab" id="completeTransaction"
                        #completeTransaction>
                    <span class="number">2</span>
                    <span class="text-in">Complete Transaction</span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link">
                    <span class="number">3</span>
                    <span class="text-in">Address</span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link">
                    <span class="number">4</span>
                    <span class="text-in">Transaction Details</span>
                  </span>
                </li>
              </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content tab_content_block">
              <div class="tab-pane" id="select-pay" role="tabpanel">
                <div class="pay-method col-sm-12 p-0">
                  <div class="select-pay-method">
                    <div class="rates-row">
                      <ul>
                        <li>1 {{tokenName}}
                          <span class="space">=</span>
                          <span class="color-blue">{{tkn2USD}} USD </span>
                        </li>
                        <li>
                          <span class="color-blue">ETH1 = {{(1/tkn2Teth).toFixed(8)}}</span>
                        </li>
                        <li>
                          <span class="color-blue">BTC = {{(1/tkn2Tbtc).toFixed(8)}}</span>
                        </li>
                        <li>
                          <span class="color-blue">LTC = {{(1/tkn2Tltc).toFixed(8)}}</span>
                        </li>
                      </ul>
                    </div>


                  </div>
                </div>
              </div>
              <div class="tab-pane active" id="Com-trans" role="tabpanel">
                <div class="invest-amt global-rap">
                  <form>
                    <div class="row text-center with-out">
                      <div class="col-sm-12 col-md-5">
                        <div class="small nor">Please enter the amount of {{ coinType }} you wish to spend</div>
                        <input type="number" class=" form-control" min="0" (input)="calculateCoins()"
                               [(ngModel)]="coins" placeholder="0.00000000"
                               name="tokenVal" style="color: #000">
                      </div>
                      <div class="col-md-2 p-0 align-items-center v-l">
                        <span class="eq">=</span>
                      </div>
                      <div class="col-sm-12 col-md-5">
                        <div class="small nor">Value in {{ tokenName }}</div>
                        <input type="number" min="0" placeholder="0.00000000" name="afterBonusAmount" class="form-control"
                               [(ngModel)]="tkn" value="{{afterBonusAmount}}"
                               style="color: #000" (input)="calculateTokens()">
                        <div class="error-message">*minimum investment is {{ minInvest }} {{ tokenName }}</div>
                      </div>
                    </div>

                    <div class="price-dis pt-4 pl-5 pr-5 pb-1">
                      <table class="table table_div text-center">
                        <tbody>
                        <tr class="disabled">
                          <td class="text-left">Crypto To Send</td>
                          <td CLASS="text-right"> {{coins | number:'1.8-8'}} {{ coinType }}</td>
                        </tr>
                        <tr class="disabled" *ngIf="coinBonus > 0">
                          <!--  <td class="text-left">Discount</td>
                            <td CLASS="text-right">0.00000000 {{ coinType }}</td>-->
                            <td class="text-left">Tokens to receive before discount</td>
                            <td class="text-right">{{tokenAmount | number:'1.8-8'}} </td>
                          </tr>
                        <tr class="disabled" *ngIf="coinBonus > 0">
                        <!--  <td class="text-left">Discount</td>
                          <td CLASS="text-right">0.00000000 {{ coinType }}</td>-->
                          <td class="text-left">Token Bonus</td>
                          <td class="text-right">{{coinBonus}} % </td>
                        </tr>
                          <tr class="disabled" *ngIf="coinBonus > 0">
                            <!--  <td class="text-left">Discount</td>
                              <td CLASS="text-right">0.00000000 {{ coinType }}</td>-->
                              <td class="text-left">Tokens to receive after discount</td>
                              <td class="text-right">{{afterBonusAmount | number:'1.8-8' }} </td>
                            </tr>
                            <tr class="disabled" *ngIf="coinBonus == 0">
                              <!--  <td class="text-left">Discount</td>
                                <td CLASS="text-right">0.00000000 {{ coinType }}</td>-->
                                <td class="text-left">Tokens to receive</td>
                                <td class="text-right">{{tokenAmount | number:'1.8-8'}} </td>
                              </tr>
                     <!--   <tr class="color-bot b_c">
                          <td class="text-left ">Final Price</td>
                          <td CLASS="text-right ">{{coins | number:'1.8-8' }}{{ coinType }}</td>
                        </tr>-->
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-12 n-p pr-4 pl-4">
                      <div class="row">
                        <div class="col-sm-12 col-md-6"><a routerLink="/home" class="glb-btn-pep status big left">Back to payment options</a></div>
                        <div class="col-sm-12 col-md-6"><button (click)="generateAddress()" [disabled]="tokenAmount<minInvest||PAGE=='PROCESSING'"  class="glb-btn-pep status big right">Next Step</button></div>
                      </div>
                    </div>
                    <!--<div class="btn_div pl-5 pr-5 pb-3 pt-0">-->
                      <!--<button type="button" [disabled]="tokenAmount<minInvest" (click)="generateAddress()" class="btn btn-info span_bor_div">Purchase-->
                        <!--{{tokenAmount}} {{ tokenName }} for {{ coins | number:'1.8-8' }} {{ coinType }}-->
                      <!--</button>-->
                    <!--</div>-->
                    <!--<p class="link-p">Need some-->
                      <!--<a href="/supporzt">assistance?</a>-->
                    <!--</p>-->
                  </form>
                  <swal
                    #errorSwal
                    title="{{pageError}}"
                    type="warning"
                    [focusCancel]="true">
                  </swal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <app-navigation></app-navigation>
</div>
