<div class="support-sec footer-remove">
  <app-header></app-header>
  <div class="div_mar_25">
    <section class="token-list container">

      <h1 class="mt-5 text-center text-dark">Notifications</h1>
      <span class="span_bor_div"></span>
      <div class="col-md-12 global-rap tre-tab justify-content-center align-items-center  mt-5 mb-5">
        <div class="table-responsive">
          <table class="table table_div text-center">
            <thead>
            <tr>
              <th class="border-top-0" scope="col">SUBJECT</th>
              <th class="border-top-0" scope="col">DESCRIPTION</th>
              <th class="border-top-0" scope="col">SEEN</th>
              <th class="border-top-0" scope="col">DATE</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let notification of notifications | paginate: { itemsPerPage: 5, currentPage: p1 } ; let i = index">
              <td>{{notification?.subject}}</td>
              <td>{{notification?.message}}</td>
              <td>{{notification?.seen}}</td>
              <td>{{notification?.timestamp | date:'medium' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center" *ngIf="!feeds || feeds.length === 0">
          <p>No record found!</p>
        </div>
        <!--<div class="py">-->
        <!--<a href="/home" class="glb-btn-pep status">Get More Tokens</a>-->
        <!--</div>-->
        <div class="paginat">
          <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
        </div>
      </div>

      <!--<ul>
        <li class="nav-item">
                   &lt;!&ndash;<ul class="dropdown-menu text-right notification" *ngIf="(notificationService.getNotifications() | async)">&ndash;&gt;
            <ng-container *ngIf="(notificationService.getNotifications() | async).length > 0; else nonotifications">
              <li *ngFor="let notification of (notificationService.getNotifications() | async)">
                <a>{{notification.message}}</a>
              </li>
            </ng-container>
            <ng-template #nonotifications>
              <li>
                <a>No notifications</a>
              </li>
            </ng-template>
          &lt;!&ndash;</ul>&ndash;&gt;
        </li>
      </ul>-->
    </section>
  </div>
  <app-navigation></app-navigation>
</div>
