<app-header></app-header>
<div class="div_configuration mt-5">
  <div class="container">
    <div class="col-sm-12 text-center title">
      <h2>Messages</h2>
      <span class="line"></span>
    </div>
    <div class="col-lg-12 col-md-12  col-sm-12  mt-5 ">
      <form [formGroup]="notificationForm" autocomplete="off" (ngSubmit)="sendNotification()">
        <div class="col-sm-12 b-rad-0 form_inner p-5">
          <div class="row form-group">
            <div class="col-sm-8">
              <label>To:</label>
              <input class="form-control" formControlName="email" type="text" placeholder="Email" required/>
              <span *ngIf="notificationForm.controls['email'].invalid && (notificationForm.controls['email'].touched && notificationForm.controls['email'].dirty)"
                    class="col-sm-12 form-input-error pt-3">Invalid Email</span>
            </div>
            <div class="col-sm-4">
              <div  class="form-check message_check">
                <label  class="form-check-label">
                  <span>Send message to all recipients</span>
                  <input (change)="enableDisableEmail()"  class="form-check-input ng-untouched ng-pristine ng-invalid" formControlName="sendToAll" name="acceptTerms" type="checkbox" value="accepted">
                </label>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label>subject:</label>
              <input class="form-control" formControlName="subject" type="text" placeholder=""/>
              <span *ngIf="!notificationForm.controls['subject'].valid && (notificationForm.controls['subject'].touched && notificationForm.controls['subject'].dirty)"
                class="col-sm-12 form-input-error">Required field.</span>
            </div>

          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <label>message:</label>
              <textarea class="form-control" rows="6" formControlName="message" id="message"></textarea>
              <span *ngIf="!notificationForm.controls['message'].valid && (notificationForm.controls['message'].touched && notificationForm.controls['message'].dirty)"
                    class="col-sm-12 form-input-error">Required field.</span>
          </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <button type="submit" [disabled]="notificationForm.invalid || pageStatus === 'PROCESSING'" class="btn btn-save pull-right">send</button>
            </div>
          </div>
        </div>
      </form>
      <swal
        #errorSwal
        title="ERROR"
        text="{{pageError}}"
        type="error"
        [focusCancel]="true">
      </swal>
      <swal
        #successSwal
        title="SUCCESS."
        text="Your notifications has been sent successfully!"
        type="success"
        [focusCancel]="true">
      </swal>
    </div>
    <div class="col-sm-12 text-center title pt-5">
      <h2>Inbox</h2>
      <span class="line"></span>
    </div>
    <div class="form_inner">
        <div class="col-md-12 global-rap p-0  tre-tab  justify-content-center align-items-center  mt-5 mb-5">
            <div class="search-btn br-0  s-input-focus b-rad-0 col-sm-12">
              <form [formGroup]="searchForm" (submit)="searchRecord();">
                <div class="input-group">
                  <input id="search" type="text" name="query" id="query" class="form-control col-sm-10" name="search" placeholder="Search"
                         [formControl]="searchForm.controls['query']" required >
                  <span class="col-sm-2 text-right">
                      <button class="search-img-icon" *ngIf="searchForm.controls['query'].value" title="clear search" (click)="reset()"><i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                      <button type="submit" class="search-img-icon"><i class="fa fa-search mg-search" aria-hidden="true"></i></button>
                    </span>
                </div>
              </form>
            </div>

            <div class="table-responsive b-rad-0  pt-4">
              <table class="table table_div text-center  table-striped ">
                <thead>
                <tr>
                  <th nowrap class="border-top-0" scope="col">#</th>
                  <th nowrap class="border-top-0" scope="col">EMAIL</th>
                  <th nowrap class="border-top-0" scope="col">SUBJECT</th>
                  <th nowrap class="border-top-0" scope="col">MESSAGE</th>
                  <th nowrap class="border-top-0" scope="col">DATE</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let notification of notifications | paginate: { id: 'table-invest', itemsPerPage: 10, currentPage: p1 }; let i = index">
                  <td nowrap>{{ i + pastRow }}</td>
                  <td nowrap>{{ notification.userId?.email }}</td>
                  <td nowrap>{{ notification?.subject}}</td>
                  <td nowrap>{{ notification?.message}}</td>
                  <td nowrap>{{ notification?.timestamp | date:'medium'}}</td>
                </tr>
                </tbody>
              </table>
              <div class="col-sm-12 text-center pt-3 pb-3 pb-0 pageinat">
                <button [disabled]="prevIndex == 0" (click)="changeNotificationsPage(previousBtn)">prev</button>
                <span>{{prevIndex + 1}}</span>
                <button [disabled]="nextBtn == pages?.length" (click)="changeNotificationsPage(nextBtn)">next</button>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

