

.box {
  width: 40px;
  font-size: 30px;
  line-height: 54px;
  font-family: orkney-light;
  height: 50px;
  display: inline-block;
  background: #ffffff;
  border-radius: 3px;
  margin: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(107, 115, 129, 0.4);
  box-shadow: 0px 1px 1px 1px rgba(107, 115, 129, 0.4);
}

.timer_div {
  list-style: none;
  padding: 0;
  text-align: center;
}

.timer_div li {
  display: inline-block;
  padding: 2px;
}

.timer_div li p {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: orkney-light;
  margin-bottom: 0;
}

.tim-w.global-rap {
  width: 550px;
  margin: 0 auto;
  padding: 30px 0 20px;
}


@media screen and (max-width: 768px) {
  .box {
    width: 24px;
    font-size: 20px;
    line-height: 34px;
    height: 30px;
    margin: 3px;
  }
  .timer_div li{
    padding: 0;
  }
  .timer_div li p{
    font-size: 8px;
  }


}

