<section class="token-list container">
  <div class="container h-100">
    <div class="col-md-12 justify-content-center align-items-center pt-5">
      <div class="tim-w global-rap">
      <h3 class="timer_tile">{{ timerMessage }}</h3>
        <ul class="timer_div">

          <li>
            <span class="box">{{ DAYS }}</span>
            <span class="box">{{ DAYS_2 }}</span>
            <p>Days</p>
          </li>
          <li>
            <span class="box">{{ HOURS }}</span>
            <span class="box">{{ HOURS_2 }}</span>
            <p>hours</p>
          </li>
          <li>
            <span class="box">{{ MINUTES }}</span>
            <span class="box">{{ MINUTES_2 }}</span>
            <p>minutes</p>
          </li>
          <li>
            <span class="box">{{ SECONDS }}</span>
            <span class="box">{{ SECONDS_2 }}</span>
            <p>seconds</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
