<section class="main_block fr-pwd">
  <div class="background-img-level"></div>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="inner_login row">
        <div class="logo col-12 text-center">
          <img src="/assets/images/logoBG.png"/>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="login_right col-sm-12 text-center">
            <div class="login_form">
              <form [formGroup]="forgotPasswordForm" [class.success]="forgotPasswordSubmit" autocomplete="off" (ngSubmit)="submit()" name="material_signup_form"
                    class="md-form-auth log-bg" id="signup-form"
                    *ngIf="pageStatus === 'LOADING' || pageStatus === 'START' || pageStatus === 'PROCESSING'">
                <div class="input-group col-sm-12">
                  <input type="text" class="form-control" formControlName="email" placeholder="Email" aria-describedby="sizing-addon1">
                  <span
                    *ngIf="!forgotPasswordForm.controls['email'].valid && (forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].touched)"
                    class="col-sm-12 form-input-error">Invalid Email</span>
                </div>
                <div class="input-group col-sm-12">
                  <re-captcha style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;" id="signupCapcha" (resolved)="resolvedForgotPassword($event)"></re-captcha>
                </div>

                <div class="input-group col-sm-12">
                  <button type="submit" class="glb-btn-pep btn btn-primary" [disabled]="forgotPasswordForm.invalid">submit</button>
                </div>
              </form>
              <swal
                #errorSwal
                title="{{pageError}}"
                type="error"
                [focusCancel]="true">
              </swal>
              <swal
                #successSwal
                title="Reset link successfully sent."
                text="Please, check your email for further instructions."
                type="success"
                [focusCancel]="true">
              </swal>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="login_left col-sm-12">
            <span class="mo-hi-view">
              <h1>Welcome to GenesisX's ICO Dashboard.</h1>
              <span class="span_bor_div"></span>
              <p>Please enter the email address associated with your GenesisX account.</p>
            </span>
            <ul class="btn-soc">
              <li><a href="javascript:void(0)" (click)="signInWithGoogle()">Sign in with google </a></li>
              <li><a  href="javascript:void(0)" (click)="signInWithFB()" >Sign in with facebook </a></li>
            </ul>
            <div class="tab-v">
              <!--<span class="span_link">Don't have an account? <a [routerLink]="['/login']" class="">Login</a> here. </span>-->
              <span class="span_link">Don't have an account? <a [routerLink]="['/sign-up']" class="">Signup</a> here. </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
