<section class="main_block">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="inner_login row">

        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="login_right col-sm-12 text-center">
            <div class="login_form">
              <h2>Two Factor Code</h2>
              <form [formGroup]="form" autocomplete="off" (ngSubmit)="submit()" name="material_signup_form"
                    class="md-form-auth log-bg" id="signup-form"
                    *ngIf="pageStatus === 'LOADING' || pageStatus === 'START' || pageStatus === 'PROCESSING'">
                <div class="input-group col-sm-12">
                  <input type="text" class="form-control" formControlName="twoFactorCode" placeholder="Two Factor Code"
                         aria-describedby="sizing-addon1">
                  <span
                    *ngIf="!form.controls['twoFactorCode'].valid && (form.controls['twoFactorCode'].dirty && form.controls['twoFactorCode'].touched)"
                    class="col-sm-12 form-input-error">Two Factor code is invalid!</span>
                </div>
                <div class="input-group col-sm-12">
                  <button type="submit" class="glb-btn-pep btn btn-primary">submit</button>
                </div>
              </form>


              <swal
                #errorSwal
                title="{{pageError}}"
                type="error"
                [focusCancel]="true">
              </swal>
              <!--<swal-->
                <!--#successSwal-->
                <!--title="Reset link successfully sent."-->
                <!--text="Please, check your email for further instructions."-->
                <!--type="success"-->
                <!--[focusCancel]="true">-->
              <!--</swal>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
