/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "orkney-light";
  src: url("/assets/fonts/orkney-light.ttf");
}

@font-face {
  font-family: "orkney-regular";
  src: url("/assets/fonts/orkney-regular.ttf");
}

@font-face {
  font-family: "orkney-bold";
  src: url("/assets/fonts/orkneybold.ttf");
}

@font-face {
  font-family: "orkney-medium";
  src: url("/assets/fonts/orkneybold.ttf");
}
@font-face {
  font-family: "FontAwesome";
  src: url("/assets/fonts/fontawesome-webfont.ttf") format("truetype"),
    url("http://www.URL/fontname.woff") format("woff"),
    url("http://www.URL/fontname.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #fbfbfb;
  color: #898989;
  height: 100%;
  font-family: "orkney-light";
  font-weight: 600;
  letter-spacing: 1px;
}
h1 {
  font-family: orkney-light;
}
.router-link-active {
  border: 1px solid #343a40;
  border-radius: 7px;
  font-weight: bold;
  background: rgba(237, 30, 121, 1);
  background: -moz-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(237, 30, 121, 1)),
    color-stop(100%, rgba(147, 39, 143, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
}

.inter-col {
  color: #80d2dc;
}
.h-100 {
  height: 100% !important;
}
.p-rl {
  padding: 0;
}
:focus {
  outline: none;
}
.gra-line {
  background: rgb(237, 30, 121);
  background: -moz-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgb(147, 39, 143) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(237, 30, 121, 1)),
    color-stop(100%, rgba(147, 39, 143, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
}
.line {
  background: rgba(237, 30, 121, 1);
  background: -moz-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(237, 30, 121, 1)),
    color-stop(100%, rgba(147, 39, 143, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  margin: 30px 0;
  display: block;
  width: 20%;
  height: 3px;
  margin: 10px auto 0;
}
.g-link {
  color: #ffffff !important;
  border-radius: 25px;
  padding: 0.2rem 0.3rem !important;
}
.b-link {
  color: #ffffff !important;
  border-radius: 25px;
  padding: 0.2rem 0.3rem !important;
}
.g-link:hover {
  color: #93278f !important;
}
.b-link:hover,
.bt0-l {
  color: #ed1e79 !important;
}
.glb-btn-pep {
  color: #ffffff;
  background: #898989;
  border: 1px solid #898989 !important;
}
.glb-btn-syp {
  color: #ffffff;
  background: #80d2dc;
  border: 1px solid #80d2dc !important;
}
.glb-btn-pep:hover {
  background: transparent;
  color: #898989;
}
.glb-btn-syp:hover {
  background: transparent;
  color: #80d2dc;
}
.form-control::placeholder {
  color: #898989 !important;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #898989 !important;
}
.form-control::-ms-input-placeholder {
  color: #898989 !important;
}
.login_form,
.inner_apply_now,
.supp_faq {
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}
.ngx-pagination .pagination-previous,
.ngx-pagination .pagination-next {
  font-size: 0;
}
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  font-size: 20px;
}
.ngx-pagination a,
.ngx-pagination button {
  color: #898989 !important;
}
.ngx-pagination .current {
  background: #898989 !important;
  color: #fefefe;
  cursor: default;
}
h1 {
  font-size: 45px;
  position: relative;
  margin-bottom: 0;
}
.color-de {
  color: 93278f;
}
.span_bor_div,
.span_bor_div1 {
  font-family: "orkney-bold";
  background: rgba(237, 30, 121, 1);
  background: -moz-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(237, 30, 121, 1)),
    color-stop(100%, rgba(147, 39, 143, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fff5', endColorstr='#93278f', GradientType=1);
}
/*login-page-css*/
.inner_login {
  width: 96%;
  margin: auto;
}
.login_btn.input-group {
  padding: 0 30px;
}
.input-group re-captcha {
  padding: 0 50px;
}
.login_right {
  width: 400px;
  margin: auto;
}
.main_block {
  height: 100vh;
  position: relative;
}
.logo {
  margin: 0;
}
.inner_login .logo img {
  width: 160px;
  padding: 20px 0;
}
.logo img {
  width: 140px;
}
.navbar-brand small {
  color: #898989;
}
.navbar-brand small span {
  font-family: orkney-bold;
}
.span_bor_div {
  margin: 30px 0;
  display: block;
  width: 45%;
  height: 3px;
}
.span_bor_div1 {
  margin: 30px 0;
  display: block;
  width: 35%;
  height: 3px;
}
.span_link {
  text-align: center;
  display: block;
  font-size: 14px;
  font-family: orkney-light;
  padding-bottom: 10px;
}
.span_link a {
  color: #93278f;
  text-decoration: none;
  font-family: orkney-regular;
}
.login_right .input-group .form-control {
  border: transparent;
  border-radius: 25px;
  background: #f1f1f1;
  padding-left: 25px;
  font-size: 15px;
  color: #898989;
}

.login_right .input-group button {
  background: rgba(237, 30, 121, 1);
  background: -moz-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(237, 30, 121, 1)),
    color-stop(100%, rgba(147, 39, 143, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
}
.login_right .input-group button:hover {
  background: transparent;
  border: #93278f;
}
.login_right .input-group {
  padding: 15px 30px;
}
.login_form {
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
}
.login_form,
.inner_apply_now,
.supp_faq {
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}
.inner_apply_now {
  border-radius: 10px;
  clear: both;
  margin-bottom: 60px;
}
.login_form h2 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  font-family: "orkney-bold";
}
.login_form button {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 2px;
  border: transparent;
  font-family: orkney-regular;
}
.timer_block {
  padding-bottom: 100px;
}
.table thead th {
  color: #4d5056;
  border-bottom: 2px solid transparent;
  font-family: orkney-regular;
  letter-spacing: 2px;
}
.table td,
.table th {
  border-top: 1px solid transparent;
  font-size: 14px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.02);
}
/*box-css-global*/
.token_div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
.token_div ul li {
  display: inline-block;
  width: calc(50% - 30px);
  padding: 0;
  margin: 0;
  float: left;
  background: #ffffff;
  -webkit-box-shadow: 0px -3px 7px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
}
.token_div ul li h3 {
  padding-top: 15px;
  color: #93278f;
}
.token_div ul li p {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: orkney-regular;
  font-weight: bolder;
}
.token_div ul li {
  text-align: center;
  color: #898989;
}
.btc_div {
  background: #ffffff;
  -webkit-box-shadow: 0px -6px 21px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -6px 21px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
/*user-manage-css*/
.search-btn {
  background: #f0f0f0;
  padding: 0 10px;
  border-radius: 10px 10px 0 0;
}
.search-btn i {
  color: #898989;

}
.mg-search{
  position: relative;top: 8px;

}
.s-btn-i i {
  position: relative;
  top: 10px;
}
.search-btn .input-group input {
  background: #f0f0f0;
  border: 0;
  padding: 10px 20px 5px;
}
.person table tr td,
.person table thead th {
  border-bottom: 1px solid #e5e5e5;
}
.person tbody tr:hover {
  background: #f6f6f6;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}
.person thead tr th {
  padding-top: 30px;
}
.title {
  color: #898989;
}
.first_div {
  color: #898989;
}
.first_div h1 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #898989;
  font-family: orkney-regular;
  font-weight: bolder;
}
.value_div {
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0px -3px 37px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -3px 37px 5px rgba(0, 0, 0, 0.2);
}
.value_div span {
  color: #ffffff;
  font-size: 50px;
}

.btc_div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btc_div ul li {
  display: inline-block;
  width: 300px;
  padding: 15px;
}
.btc_div ul li .ico {
  border: 1px solid #ffffff;
  border-radius: 50%;
  float: left;
}
.ico svg {
  float: left;
  height: 30px;
  width: 30px;
}
.ico_svg1 svg {
  padding: 2px;
}
.ico_svg2 svg,
.ico_svg3 svg {
  padding: 8px;
}
.inner_ico {
  float: left;
  width: 100%;
}
.btc_div ul li p {
  display: block;
  padding-top: 15px;
  float: left;
  width: 100%;
  color: #898989;
}
.inner_ico h3 {
  margin: 0;
  margin-top: 3px;
}
.inner_ico {
  padding: 15px 35px;
  border-radius: 10px;
}
.bg_ico1 {
  -webkit-box-shadow: 0px -3px 27px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.next_div {
  color: #898989;
  position: relative;
}
.next_div::before {
  position: absolute;
  margin: auto;
  right: 25px;
  left: 25px;
  top: -12px;
  content: "";
  background: url(/assets/images/minus.png);
  text-align: center;
  display: block;
  height: 10px;
}

.inner_ico h3,
.token_div ul li h3 {
  font-size: 30px;
  letter-spacing: 2px;
}
.inner_ico h3 {
  font-size: 24px;
}
.token_div ul li p {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.global-rap h3 {
  font-size: 16px;
}
.global-rap h3 .discount {
  color: #ffffff;
  padding: 3px 20px;
  border-radius: 25px;
  font-size: 14px;
  background: rgba(237, 30, 121, 1);
  background: -moz-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(237, 30, 121, 1)),
    color-stop(100%, rgba(147, 39, 143, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(237, 30, 121, 1) 0%,
    rgba(147, 39, 143, 1) 100%
  );
}
.timer_div {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  padding-top: 20px;
}
.timer_div li {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 5px;
}
.timer_div li span {
  margin: 4px;
  width: 50px;
  height: 60px;
  background: #ffffff;
  display: inline-block;
  font-size: 26px;
  line-height: 65px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.22);
}

.timer_div li p {
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
}
.timer_block,
.next_div {
  float: left;
}
.progress {
  float: left;
  width: 100%;
}
.progress-bar {
  width: 0;
  -webkit-animation: progress 1.5s ease-in-out forwards;
  animation: progress 1.5s ease-in-out forwards;
}
.progress-bar .title {
  opacity: 0;
  -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
  animation: show 0.35s forwards ease-in-out 0.5s;
}

@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.process_block .progress-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  position: absolute;
  text-align: center;
  top: 58px;
}
.process_block .progress-bar ul li {
  display: inline-block;
  width: 20%;
  padding: 0;
  margin: 0;
  float: left;
  text-align: right;
}
.process_block .progress-bar ul li span {
  color: #898989;
  text-align: center;
  position: relative;
}
.process_block .progress {
  position: relative;
  overflow: initial;
  height: 1.35rem;
  border-radius: 0.75rem;
  width: 80%;
  margin: 0 10%;
  border: 1px solid #ddd;
}
.process_block .progress-bar {
  border-radius: 0.75rem;
}
.process_block .bar-bg {
  height: 100%;
  display: block;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
}
.process_block .progress-bar ul li span:before {
  content: "";
  display: block;
  height: 32px;
  width: 2px;
  background: #cccccc;
  margin: auto;
  right: 0.74rem;
  left: auto;
  position: absolute;
  top: -41px;
}
.process_block .progress-bar ul li span:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  margin: auto;
  right: 5px;
  left: auto;
  position: absolute;
  top: -57px;
  background: #ffffff;
}
.process_block .progress-bar ul li span.active:after {
  border: 6px solid #ed1e79;
  width: 23px;
  height: 23px;
  top: -60px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 255, 234, 0.43);
  box-shadow: 0px 0px 7px 2px rgba(0, 255, 234, 0.43);
}
.process_block .progress-bar ul li span.active:before {
  right: 0.92rem;
}
.process_block {
  float: left;
  margin-bottom: 100px !important;
  width: 100%;
}
.modal_user.modal-dialog {
  max-width: 1200px;
}
.table_bar {
  position: relative;
}
.table_bar::before {
  position: absolute;
  margin: auto;
  right: 25px;
  left: 25px;
  top: -58px;
  content: "";
  background: url(/assets/images/minus.png);
  text-align: center;
  display: block;
  height: 10px;
}
.user_detail {
  color: #898989;
}
.user_detail h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: orkney-regular;
  letter-spacing: 3px;
}
.user_detail p {
  font-size: 14px;
  font-family: orkney-regular;
  color: #898989;
  padding: 10px;
}
.user_detail p span {
  font-size: 16px;
  text-transform: uppercase;
  color: #898989;
  padding-right: 15px;
}
.user_detail p button {
  float: right;
  right: 50%;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1.3rem;
  width: 2.5rem;
  border-radius: 2.5rem;
}
.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}
.btn-toggle.active {
  background-color: #98c454;
}
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 2.5rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #898989;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn-toggle.btn-lg.active > .handle {
  left: 1.3rem;
  transition: left 0.25s;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 3rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 1.875rem;
  background: #dddddd;
  background: -moz-linear-gradient(
    left,
    rgba(225, 225, 225, 1) 0%,
    rgba(181, 181, 181, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(225, 225, 225, 1)),
    color-stop(100%, rgba(181, 181, 181, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(225, 225, 225, 1) 0%,
    rgba(181, 181, 181, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(225, 225, 225, 1) 0%,
    rgba(181, 181, 181, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(225, 225, 225, 1) 0%,
    rgba(181, 181, 181, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(225, 225, 225, 1) 0%,
    rgba(181, 181, 181, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#b5b5b5', GradientType=1 );
  transition: left 0.25s;
  box-shadow: inset 0px 0px 20px 0px rgba(225, 225, 225, 1);
}
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: absolute;
  bottom: -4px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.btn-toggle:after {
  color: #6b7381;
}
.btn:focus {
  box-shadow: none;
}
.form_inner .form-group label {
  text-transform: uppercase;
  font-family: orkney-bold;
  font-size: 13px;
  color: #676767;
  line-height: 34px;
  margin: 0;
}
.form_inner .form-group .form-control {
  border: transparent;
  border-radius: 25px;
  font-family: orkney-regular;
  background: #f1f1f1;
  padding-left: 25px;
  font-size: 15px;
  color: #898989;
}
.form_inner{
  background: #ffffff;
  webkit-box-shadow: -3px -3px 7px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -3px -3px 7px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.configuration_form {
  width: 100%;
  float: left;
  padding: 5%;
}
.form_inner .form-group {
  margin-bottom: 1.5rem;
}
.form_inner .form-group .btn-save {
  font-size: 13px;
  background: #93278f;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
  border-radius: 25px;
  font-family: orkney-bold;
}
.message_check .form-check-input {
  float: right;
}
.message_check label {
  float: right;
}
.message_check {
  padding-top: 35px;
}
.message_check label span {
  float: left;
  text-transform: initial;
  padding-right: 30px;
  font-size: 13px;
  font-family: orkney-regular;
}
.message_check .form-check-input {
  margin-top: 0.7rem;
}
.search-btn button.search-img-icon {
  border: none;
  background: transparent;
  cursor: pointer;
}
.search-btn button:focus {
  outline: none;
  border: none;
}
.search-btn i:hover {
  color: #6e76fc;
}
.search-btn .input-group input {
  width: 92%;
  display: inline-block;
}
.search-btn {
  display: inline-block;
}
.search-btn button.exp i {
  padding: 8px 0 8px 4px;
}
.search-btn button.exp {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #898989;
  font-size: 14px;
  font-family: "orkney-bold";
  border: 1px solid;
  border-radius: 20px;
  height: 34px;
  margin-top: 2px;
  padding: 2px 15px;
}
#exampleModal .modal-header {
  border: none;
  padding: 20px 20px 0;
}
#exampleModal .user_detail p {
  margin: 0;
}
#exampleModal .assign-tokens input {
  background: #f0f0f0;
  border: 0;
  height: 50px;
  border-radius: 25px;
}
#exampleModal .assign-tokens label {
  font-size: 14px;
  text-transform: uppercase;
  color: #898989;
}
#exampleModal .assign-tokens h2 {
  font-size: 20px;
  color: #898989;
  margin: 0 0 30px;
}
#exampleModal .assign-tokens {
  max-width: 900px;
}
#exampleModal .btn-center {
  margin: auto;
  display: block;
  background: #d2d8d8;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 30px;
  border-radius: 25px;
  letter-spacing: 1px;
}
#exampleModal .table_bar::before {
  top: -40px;
}
textarea {
  resize: none;
}
.fl_div {
  float: left;
  width: 100%;
}
.search-btn.chart-hi {
  background: #ffffff;
}
.search-btn.chart-hi .input-group input {
  background: transparent;
}
.chart-hi button:disabled {
  display: none;
}
.chart-hi .top-p {
  padding-top: 10px;
}
.process_block {
  margin-bottom: 80px;
}
.search-btn.chart-hi .input-group.date input {
  padding: 10px 0;
}
.search-btn.chart-hi span.top-p {
  padding: 10px 0 0 10px;
}
.fl_div .search-btn i {
  padding: 10px;
}
.pageinat button {
  background: transparent;
  border: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  border-bottom: 2px solid #898989;
  color: #aaa8c5;
  cursor: pointer;
}
.pageinat button:disabled {
  border-bottom: 0;
}
.btn-primary {
  color: #ffffff !important;
  background-color: #93278f !important;
  border-color: #93278f !important;
  letter-spacing: 2px;
}
.swal2-icon.swal2-error {
  border-color: #ed1e79 !important;
}

.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
  background-color: #ed1e79 !important;
}
.btn-st .btn {
  background: #93278f;
  color: #fff;
  display: inline-block;
  font-family: "orkney-bold";
  font-weight: 400;
  letter-spacing: 1px;
}
.full-width {
  width: 100%;
  float: left;
}
.b-rad-0 {
  border-radius: 0;
}
.p-0 {
  padding: 0;
}
.s-input-focus input:focus {
  border-radius: 0;
}

.br-0{
  border-radius: 0;
  padding: 8px;
}

.log-in .foot-copy{
  position: fixed;
  bottom: 0;
}
.bottom-spacing{
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .token_div ul li {
    width: calc(100% - 30px);
  }
}


.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
