<div class="home-landing footer-remove">
  <app-header></app-header>
  <div class="div_mar_25">
    <app-ico-timer></app-ico-timer>

    <section class="token-list container">
      <div class="h-100">
        <div class="col-md-12 apply-now text-center buy-tokens">
          <div class="">
            <div class="ra-sap">
              <ul class="nav nav-tabs text-center" role="tablist">
                <li class="nav-item p-0">
                  <span class="nav-link active" data-toggle="tab" href="#select-pay" role="tab">
                    <span class="number">1</span>
                    <span class="text-in"> Payment Method
                    </span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link">
                    <span class="number">2</span>
                    <span class="text-in">Complete Transaction</span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link">
                    <span class="number">3</span>
                    <span class="text-in">Address</span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link">
                    <span class="number">4</span>
                    <span class="text-in">Transaction Details</span>
                  </span>
                </li>
              </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content tab_content_block">
              <div class="tab-pane active" id="select-pay" role="tabpanel">
                <div class="global-rap pay-method col-sm-12 p-0">
                  <div class="select-pay-method">
                    <h3 class="timer_tile">Token Conversions</h3>
                    <div class="rates-row">
                      <ul>
                        <li>1 TKN
                          <span class="space">=</span>
                          <span class="color-blue">{{tkn2USD}} USD </span>
                        </li>
                        <li>
                          <span class="color-blue">ETH = {{(tkn2Teth)?.toFixed(8)}}</span>
                        </li>
                        <li>
                          <span class="color-blue">BTC = {{(tkn2Tbtc)?.toFixed(8)}}</span>
                        </li>
                        <li>
                          <span class="color-blue">LTC = {{(tkn2Tltc)?.toFixed(8)}} </span>
                        </li>
                      </ul>
                    </div>

                    <div class="payments-select">
                      <h3 class="timer_tile metho">choose payment method</h3>
                      <ul>
                        <li>
                          <a (click)="moveOnAddressPage('/payment/ETH')" id="ETH">
                            <span class="ico">
                              <svg role="img" width="75" height="69" class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 37">
                                  <defs>
                                    <style>
                                      .cls-1 {
                                        fill: #b3b3b3;
                                      }
                                    </style>
                                  </defs>
                                  <title>Asset 10</title>
                                  <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                      <polygon class="cls-1" points="18.5 23.23 18.5 6.1 10.89 18.73 18.5 23.23"/>
                                      <polygon class="cls-1" points="18.5 6.1 18.5 23.23 26.11 18.73 18.5 6.1"/>
                                      <polygon class="cls-1"
                                               points="18.5 24.67 10.89 20.17 18.5 30.9 26.11 20.17 18.5 24.67"/>
                                    </g>
                                  </g>
                                </svg>
                              </svg>
                            </span>
                            <h3 class="small-space">ETH</h3>
                            <p>Get Tokens<br>Every Day</p>
                          </a>
                        </li>
                        <li>
                          <a (click)="moveOnAddressPage('/payment/BTC')" id="BTC">
                            <span class="ico">
                              <svg role="img" width="32" height="44" class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 26.25">
                                  <defs>
                                    <style>
                                      .cls-1 {
                                        fill: #b3b3b3;
                                      }
                                    </style>
                                  </defs>
                                  <title>Asset 7</title>
                                  <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                      <path class="cls-1"
                                            d="M17.52,8C17.23,5.18,14.76,4.23,11.64,4l0-4H9.2l0,3.87-1.93,0L7.27,0H4.85l0,4L3.33,4h0L0,4V6.62s1.79,0,1.76,0a1.23,1.23,0,0,1,1.39,1l0,4.52.25,0H3.19l0,6.34a.84.84,0,0,1-.9.8s-1.76,0-1.76,0L.09,22.24H3.24c.58,0,1.16,0,1.73,0l0,4H7.4l0-4H9.31l0,4,2.42,0,0-4c4.06-.25,6.9-1.29,7.23-5.1.27-3.08-1.18-4.44-3.49-5a3.72,3.72,0,0,0,2-4.07Zm-3.33,8.6c0,3-5.13,2.69-6.77,2.7L7.4,14c1.63,0,6.77-.51,6.79,2.62ZM13,9.14c0,2.73-4.27,2.43-5.64,2.44l0-4.83C8.72,6.75,13,6.29,13,9.14Z"
                                      />
                                    </g>
                                  </g>
                                </svg>
                              </svg>
                            </span>
                            <h3>BTC</h3>
                            <p>Get Tokens<br>Every Day</p>
                          </a>
                        </li>
                        <li>
                          <a (click)="moveOnAddressPage('/payment/LTC')" id="LTC">
                            <span class="ico">
                              <svg role="img" width="32" height="44" class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.54 20.36">
                                  <defs>
                                    <style>
                                      .cls-1 {
                                        fill: #b3b3b3;
                                      }
                                    </style>
                                  </defs>
                                  <title>Asset 8</title>
                                  <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                      <path class="cls-1"
                                            d="M8.08,16.36l1.32-5,3.13-1.15.78-2.92,0-.08L10.21,8.36,12.43,0H6.13L3.23,10.91.8,11.8l-.8,3,2.42-.88L.71,20.36H17.47l1.07-4H8.08"
                                      />
                                    </g>
                                  </g>
                                </svg>
                              </svg>
                            </span>
                            <h3>LTC</h3>
                            <p>Get Tokens<br>Every Day</p>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div *ngIf="isICOEnd" class="payments-select">
                      <h3 class="timer_tile metho">ICO END</h3>
                    </div>
                    <div *ngIf="isICOPaused" class="payments-select">
                      <h3 class="timer_tile metho">ICO PAUSED</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <swal
        #ICOMessage
        title="ICO INFO"
        text={{IcoMSG}}
        type="success"
        [focusCancel]="true">
      </swal>
    </section>
  </div>
  <app-navigation></app-navigation>
</div>

