<section class="main_block sign-up">
  <div class="background-img-level"></div>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="inner_login row">
        <div class="logo col-12 text-center">
          <img src="/assets/images/logoBG.png"/>
        </div>
       <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="login_right col-sm-12 text-center">
            <form [formGroup]="signupForm" [class.success]="signupSubmit" autocomplete="off" (ngSubmit)="submit()" name="material_signup_form"
                  class="md-form-auth log-bg" id="signup-form"
                  *ngIf="pageStatus === 'LOADING' || pageStatus === 'START' || pageStatus === 'PROCESSING'">
            <div class="login_form">
                <div class="e-mail-fs input-group col-sm-12">
                  <input type="text" class="form-control"  formControlName="fullName" placeholder="Full Name*" aria-describedby="sizing-addon1">
                  <span
                    *ngIf="!signupForm.controls['fullName'].valid && (signupForm.controls['fullName'].touched && signupForm.controls['fullName'].dirty)"
                    class="col-sm-12 form-input-error pt-3">Invalid Name</span>
                </div>
                <div class="input-group col-sm-12">
                  <input type="text" class="form-control" formControlName="email" placeholder="Email*" aria-describedby="sizing-addon1">
                  <span
                    *ngIf="!signupForm.controls['email'].valid && (signupForm.controls['email'].dirty && signupForm.controls['email'].touched)"
                    class="col-sm-12 form-input-error pt-3">Invalid Email</span>
                </div>
                <div class="input-group col-sm-12">
                  <input type="password" class="form-control" formControlName="password"  placeholder="Create New Password*" aria-describedby="sizing-addon1">
                  <span *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].touched && signupForm.controls['password'].dirty)"
                    class="col-sm-12 form-input-error pt-3">Minimum length for password must be 6 characters.</span>
                </div>
                <div class="input-group col-sm-12">
                  <input type="password" class="form-control" formControlName="confirmPassword"  placeholder="Confirm Password*" aria-describedby="sizing-addon1">
                  <span
                    *ngIf="(signupForm.controls['password'].value != signupForm.controls['confirmPassword'].value)  && (signupForm.controls['confirmPassword'].dirty && signupForm.controls['confirmPassword'].touched)"
                    class="col-sm-12 form-input-error pt-3">password and confirm password mismatch</span>
                </div>
                <div class="input-group col-sm-12">
                  <input type="text" class="form-control" formControlName="rhash" password placeholder="Referral Code" aria-describedby="sizing-addon1">
                </div>
                <div class="input-group col-sm-12">
                  <re-captcha style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;" id="signupCapcha" data-theme="dark" (resolved)="resolvedSignup($event)"></re-captcha>
                  <!--<span class="col-sm-12 text-center span_link">Forget Password?<a  [routerLink]="['/forgot-password']" class=""> Remind</a></span>-->
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <span class="span_term">I have read and agree with the <a routerLink="/privacy-policy">Terms.</a>
                      <div class="srap">
                        <div class="row text-center form-group radio_div">
                          <input [formControl]="signupForm.controls['terms']" name="terms" type="radio" title="yes" value="yes">
                          <span  class="accept-text checked">Acknowledge and accept* </span>
                        </div>
                        <div class="row text-center form-group radio_div">
                          <input [formControl]="signupForm.controls['terms']" name="terms" type="radio" title="no" value="no">
                          <span class="accept-text">Do not acknowledge or accept*</span>
                        </div>
                      </div>
                    </span>
                  </label>
                </div>
              <!-- ERROR MESSAGE SHOWER -->
              <!--<span class="row text-center " *ngIf="pageError">-->
            <!--<div class="col-sm-12 form-input-error">{{pageError}}</div>-->
          <!--</span>-->
              <div class="input-group col-sm-12">
              <swal
                #errorSwal
                title="{{pageError}}"
                type="error"
                [focusCancel]="true">
              </swal>
                <button type="submit" class="glb-btn-pep btn btn-primary"  [disabled]="signupForm.invalid || pageStatus === 'PROCESSING' || !googleCaptchaCheck || (signupForm.controls['password'].value != signupForm.controls['confirmPassword'].value)">
                  <ng-container *ngIf="pageStatus === 'START'">Signup</ng-container>
                  <ng-container *ngIf="pageStatus === 'PROCESSING'">Signup...</ng-container>
                </button>
              </div>
              <swal
                #successSwal
                title="Your account has been created successfully."
                text="Please, check your email for further instructions."
                type="success"
                [focusCancel]="true">
              </swal>
              <swal
                #acknowledgeSwal
                title="ERROR"
                text="In order to register with GenesisX, you will need to Acknowledge and Accept our Terms"
                type="error"
                [focusCancel]="true">
              </swal>
              <!--<button (click)="deleteSwal.show()">Delete asd</button>-->
              <div class="text-center mt-2 pb-3 col-sm-12">
                <span class="span_link">Already have an account? <a [routerLink]="['/login']"  class="">Login</a> here. </span>
              </div>
            </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="login_left signup_left col-sm-12">
            <span class="mo-hi-view">
              <h1>Welcome to GenesisX's ICO Dashboard.</h1>
              <span class="span_bor_div"></span>
              <!--<p>Please sign in with the username and password sent to your e-mail.</p>-->
            </span>
            <ul class="btn-soc">
              <li><a href="javascript:void(0)" (click)="signInWithGoogle()">Sign in with google </a></li>
              <li><a  href="javascript:void(0)" (click)="signInWithFB()" >Sign in with facebook </a></li>
            </ul>
          </div>
        </div>
      </div>
      <p class="foot-copy">The GenesisX ICO Dashboard is powered by Block Gemini | &copy; Copyright 2018, Block Gemini Technologies FZ-LLC, Dubai, UAE</p>
    </div>
  </div>
</section>


