
<div class="dashboard-login col-xs-12 ">
  <div class="container h-100 justify-content-center align-items-center">
    <div class="email-active kyc-detail login_div col-md-12">
        <swal
          #successSwal
          title="You have successfully activated your account."
          type="success"
          [focusCancel]="true">
        </swal>


      <swal
        #errorSwal
        title="{{activationErr}}"
        type="warning"
        [focusCancel]="true">
      </swal>

      <div class="text-center sol">
        <!--<span><a class="glb-btn-syp" [routerLink]="['/login']">Login </a></span>-->
        <!--<span><a class="glb-btn-syp" href="/sign-up">Sign up </a></span>-->
      </div>
      <!--<div class="col-md-12 soical-icon-con text-center">-->
        <!--<ul class="social">-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-hashtag" naria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-btc" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-reddit" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
          <!--<li><a href="#" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</div>


