.social a{
  color: #FFFFFF;
  background: #aaa3c5;
  border: 1px solid #aaa3c5!important;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 25px;
  margin: 0 4px;
}
.social li{
  display: inline-block;
}
.sol a{
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 8px;
  margin: 30px 20px 30px;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
  text-decoration: none;
  width: 200px;
  background: rgba(147,39,143,1);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,39,143,1)), color-stop(100%, rgba(237,30,121, 1)));
  background: -webkit-gradient(linear, left top, right top, from(rgba(147,39,143,1)), to(rgba(237,30,121, 1)));
  background: linear-gradient(to right, rgba(147,39,143,1) 0%, rgba(237,30,121, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fff5', endColorstr='#00ff53', GradientType=1 );
  border: transparent;
}
.sol a:hover{
  color: #93278f;
  background: transparent;
  border: #93278f;
}
.email-active.kyc-detail.login_div {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
}
