@font-face {
  font-family: 'orkney-light';
  src: url('/assets/fonts/PFBeauSansPro-Light.ttf');
}

@font-face {
  font-family: 'orkney-regular';
  src: url('/assets/fonts/PFBeauSansPro-Regular.ttf');
}

@font-face {
  font-family: 'orkney-bold';
  src: url('/assets/fonts/PFBeauSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'orkney-medium';
  src: url('/assets/fonts/PFBeauSansPro-Regular.ttf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/fontawesome-webfont.ttf') format('truetype'), url('http://www.URL/fontname.woff') format('woff'), url('http://www.URL/fontname.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  /*background: url('/assets/images/bg.jpg');*/
  background-color: #fafafa;
  color: #696969;
  height: 100%;
  font-family: 'orkney-light';
  font-weight: 600;
  letter-spacing: 1px;
  overflow-x: hidden;
  max-width: 100%;
}

/*gobal-css*/
h1 {
  font-family: orkney-light;
}

.inter-col {
  color: #EC6EA5;
}

.gra-line {
  background: rgba(147, 39, 143, 1);
  background: -moz-linear-gradient(left, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 39, 143, 1)), color-stop(100%, rgba(237, 30, 121, 1)));
  background: -webkit-linear-gradient(left, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  background: -o-linear-gradient(left, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  background: -ms-linear-gradient(left, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  background: linear-gradient(to right, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fff5', endColorstr='#00ff53', GradientType=1);
}

.g-link {
  color: #ffffff !important;
  border-radius: 25px;
  padding: .2rem .3rem !important;

}

.b-link {
  color: #ffffff !important;
  border-radius: 25px;
  padding: .2rem .3rem !important;
}

.g-link:hover {
  color: #93278f !important;

}

.b-link:hover, .bt0-l {
  color: #ed1e79 !important;
}

.glb-btn-pep {
  color: #FFFFFF;
  background: #ed1e79;
  border: 1px solid #ed1e79 !important;
  cursor: pointer;
  font-family: 'orkney-bold';
}

.glb-btn-syp {
  color: #FFFFFF !important;
  background: #ed1e79;
  border: 1px solid #ed1e79 !important;
  cursor: pointer;
  font-size: 12px;
  font-family: 'orkney-bold';
}

.glb-btn-pep:hover {
  background: #c31863;
  color: #ffffff !important;
}

.glb-btn-syp:hover {
  background: #c31863;
  color: #ffffff !important;
}

.form-control::placeholder {
  color: #696969 !important;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #696969 !important;
}

.form-control::-ms-input-placeholder {
  color: #696969 !important;
}

.main_block {
  height: 100vh;
  position: relative;
}

.form-control {
  color: #FAF5FE;
}

.global-rap .form-control {
  color: #696969;
}

.profile-p .small {
  font-family: 'orkney-bold';
  font-size: 16px;
}

/*login*/
.background-img-level {
  background: url(/assets/images/log-in-right.svg) no-repeat top right;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 80%;
}

.inner_login {
  width: 96%;
  margin: auto;
  position: relative;
}

.login_left, .login_right {
  width: 100%;
  padding: 5% 15%;
}

.login_left {
  float: right;
  text-align: left;
  padding: 15%;
}

.log-in .login_right,
.log-in .login_left {
  padding: 20% ;
}

.fr-pwd .login_right {
  padding: 25% 15%;
}

.logo img {
  width: 200px;
  padding: 25px 0;
}

.logo.col-12 img {
  width: 120px;
}

.login_left h1, h1 {
  font-size: 30px;
  position: relative;
  margin-bottom: 0;
  color: #696969;
}

.login_left h1 span {
  color: #ed1e79;
}
.login_left h1{
  color: #FFFFFF;
}

.color-de {
  color: #ed1e79;
}

.span_bor_div, .span_bor_div1 {
  font-family: 'orkney-bold';
  background: rgba(237, 30, 121, 1);
}

.span_bor_div {
  margin: 30px 0;
  display: block;
  width: 45%;
  height: 3px;
}

.span_bor_div1 {
  margin: 30px 0;

  display: block;
  width: 35%;
  height: 3px;
}

.login_left p {
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 25px;
  font-family: orkney-light;
  color: #7f7f7f;
}

.login_left ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 36px;
}

.login_left ul li {
  display: block;
}

.login_left ul li a {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px;
  margin: 10px 0;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 20px;
  text-decoration: none;
  background: transparent;
  border: none;
  border-bottom: solid 2px #c31863;
}

.login_left ul li a i {
  text-align: right;
  float: right;
  padding-right: 25px;
  font-size: 18px;
  line-height: 20px;
}

.span_link {
  text-align: center;
  display: block;
  font-size: 14px;
  font-family: orkney-light;
  padding-bottom: 10px;

}

.span_link a {
  color: #ed1e79;
  text-decoration: none;
  font-family: orkney-regular;
}

.login_right {
  float: left;
  text-align: left;

}

.login_right .input-group .form-control {
  border: solid 1px #7f7f7f;
  border-radius: 25px;
  background: transparent;
  padding-left: 25px;
  font-size: 15px;
  color: #FFFFFF;
  height: 38px;
}

.login_right .input-group button,
.login_right .input-group button:disabled {
  background: #FFFFFF !important;
  border: solid 1px #FFFFFF !important;
  color: #ed1e79 !important;
  opacity: 1;
  height: 38px;
}

.login_right .input-group button:hover {
  background: transparent;
  border: #ed1e79;

}

.login_right .input-group {
  padding: 8px 30px;
}

.login_form {
  background: transparent;
  border-radius: 10px;
  padding: 0;

}

.inner_apply_now, .supp_faq {
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.inner_apply_now {
  border-radius: 10px;
  clear: both;
  margin-bottom: 60px;
}

.login_form h2 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 20px 0;
  font-family: 'orkney-bold';
}

.login_form button {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 2px;
  border: transparent;
  font-family: orkney-regular;
}

.span_term {
  font-size: 14px;
}

.span_term a {
  color: #ed1e79;
  text-decoration: none;
  font-family: orkney-regular;
}

.login_form button {
  margin-bottom: 30px;
}

.apply-now .nav-tabs .nav-link.active {
  background-color: transparent;
  border-top-left-radius: 10px;
}

.apply-now .nav-tabs {
  background: transparent;
  margin-bottom: 5px;
  text-align: center;
}

.profile-p .p-text,
.referral-page .p-text {
  font-size: 14px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.apply-now .nav-tabs {
  border: 0;
}

.buy-tokens span.number,
.buy-tokens .active span.number {
  width: 40px;
  height: 40px;
  display: inline-block;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 5px 7px 0px #ececec;
  line-height: 40px;
}

.buy-tokens .active span.number {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.buy-tokens span.number {
  background: #e6e6e6;
  color: #b5b4b4;
}

.buy-tokens .active span.number {
  background: rgba(147, 39, 143, 1);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 39, 143, 1)), color-stop(100%, rgba(237, 30, 121, 1)));
  background: -webkit-gradient(linear, left top, right top, from(rgba(147, 39, 143, 1)), to(rgba(237, 30, 121, 1)));
  background: linear-gradient(to right, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fff5', endColorstr='#00ff53', GradientType=1);
}

.ra-sap {
  margin: 0 auto;
}

.buy-tokens span.number {
  font-size: 14px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border: none;
}

.apply-now ul.nav.nav-tabs.text-center {
  display: inline-flex;
  margin-left: 100px;
}

.apply-now .nav-tabs .nav-link.active .text-in {
  font-size: 16px;
  padding-left: 15px;
}

.nav-link {
  padding: .2rem;
}

.apply-now .nav-tabs .nav-link.active,
.apply-now .nav-link {
  color: #696969;
  border: 0;
}

.apply-now .nav-link {
  font-size: 0;
}

.apply-now .nav-tabs .nav-item {
  padding: 0;
}

.apply-now .nav-link {
  padding: 0.5rem;
}

.hide_nor {
  display: none;
}

.tab-content > .active {
  background: transparent;
  padding: 30px 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*home-css*/
.global-rap {
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border-radius: 10px;
  padding: 15px 15px 0 15px;
}

.full-val {
  font-size: 34px;
  font-family: 'orkney-light';
  padding: 10px 0 5px;
}

.small {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bt-st {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 8px;
  margin: 30px 20px 0;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
  text-decoration: none;
}

.form-control {
  background-color: #F1F1F1;
  border-radius: 25px;
  height: 45px;
}

.p-text {
  color: #696969;
}

.small.nor {
  font-size: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.error-message {
  color: #ff0000a1;
  font-size: 12px;
  padding: 5px 10px;
  letter-spacing: 1px;
}

.paginat {
  padding: 0 0 10px;
  text-align: center;
}

.ngx-pagination .current {
  background: #989898 !important;
  border-radius: 10px;
}

.ngx-pagination a, .ngx-pagination button {
  color: #696969 !important;
}

.tab_level {
  padding: 30px 0px;
}

.level1 {
  border-bottom: 1px solid #dddddd;
}

.left_tab {
  padding: 0;
}

.tab_level h4 {
  font-size: 20px;
  padding-bottom: 15px;
  font-family: orkney-light;
}

.tab_level h4 span {
  font-family: orkney-regular;
}

.tab_content_block .tab-pane {
  padding: 2% 8%;
}

.headline p {
  font-size: 18px;
  margin-bottom: 0;
}

.headline, .link_skip, .inner_apply_now {
  float: left;
  width: 100%;
}

.link_skip {
  text-align: right;
  padding: 10px 0;
}

.link_skip a {
  color: #696969;
  text-decoration: none;
  font-size: 15px;
}

.link_skip a i {
  padding-left: 10px;
}

.term_condition ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  width: 100%;
}

.term_condition ul li {
  display: inline-block;
  padding: 0 40px;
}

.term_condition ul li a,
.login_left ul li span {
  width: 300px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px;
  margin: 10px 0;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
  text-decoration: none;
}

.term_condition ul li a:hover {
  color: #FFFFFF;
}

.table_div thead th {
  font-size: 12px;
  color: #696969;
  text-transform: uppercase;
  font-family: orkney-light;
  letter-spacing: 2px;
  padding: 10px 5px;
}

.table_div td {
  padding: 15px 10px;
  font-size: 14px;
  color: #969696;
}

.table_div td.btnstate {
  padding: 22px 10px;
}

.table_div .disabled td {
  color: #969696;
}

.table_div .active td {
  font-family: orkney-bold;
}

.span_active {
  width: 8px;
  height: 8px;
  background: #93278f;
  display: inline-block;
  border-radius: 50px;
  margin-left: 10px;
}

.token-list .span_bor_div {
  width: 20%;
  margin: 0 auto;
  margin-top: 15px;
}

.table_main {
  float: left;
}

.b_c {
  position: relative;
}

.b_c:after {
  content: '';
  background: rgba(147, 39, 143, 1);
  background: -moz-linear-gradient(left, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 39, 143, 1)), color-stop(100%, rgba(237, 30, 121, 1)));
  background: -webkit-linear-gradient(left, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  background: -o-linear-gradient(left, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  background: -ms-linear-gradient(left, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  background: linear-gradient(to right, rgba(147, 39, 143, 1) 0%, rgba(237, 30, 121, 1) 100%);
  display: block;
  width: calc(100% - 90px);
  height: 1px;
  position: absolute;
  left: 45px;
  right: 45px;
  margin: auto;

}

.btn_div button {
  width: 100% !important;
  height: 50px;
  border: transparent;
  border-radius: 50px;
}

p.link-p a {
  color: #EC6EA5;
  text-decoration: none;

}

.div_mar_25 {
  margin-bottom: 10%;
  float: left;
  width: 100%;
  position: relative;
}

.div_mar_25:before, .main_block:before {
  content: '';
  position: absolute;
  /*background: url("/assets/images/log-in-right.svg") no-repeat;*/
  margin: auto;
  z-index: -1;
  top: 2%;
  left: 0;
  height: 600px;
  width: 50vw;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg)
}

.div_mar_25:after, .main_block:after {
  content: '';
  position: absolute;
  background: url("/assets/images/log-in-right.svg") no-repeat;
  margin: auto;
  z-index: -1;
  bottom: 2%;
  right: 0;
  height: 600px;
  width: 50vw;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}
.div_mar_25:before,.div_mar_25:after{
  background: transparent;
}

.modal_div .dialog {
  max-width: 80% !important;
  min-height: auto !important;
}

.dialog {
  border-radius: 20px !important;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.mobile.nav_list ul li.col-sm-2 {
  width: 16.666667% !important;
}

.invest-amt .with-out {
  padding: 0 140px;
}

.span_link a:hover,
.span_term a:hover {
  color: #93278f;
}

.accept-text {
  vertical-align: middle;
  padding: 0 5px;
}

.form-check {
  padding-left: 0;
}

.srap {
  padding: 15px 0 10px 30px;
}

.srap .form-group {
  margin-bottom: 0.5rem;
}

.srap input[type=radio] {
  margin-top: 2px;
}

.modal_term .span_bor_div {
  margin: 10px 0 30px;
  margin-left: 0;
  display: block;
  width: 400px;
  height: 3px;
}

.dashboard-in span a {
  width: 200px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 8px;
  margin: 20px 10px;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
}

.modal_term {
  padding: 2% 0 10%;
}

#display-address .amt-recevied {
  padding: 20px 0;
  border-bottom: 2px dashed #ccc;
  margin-bottom: 53px;
}

#display-address .invest-amt {
  padding: 40px 50px 10px;
}

#display-address .receive {
  border-top: 2px dashed #93278f;
  padding-top: 40px;
}

#display-address .b-link:hover, .bt0-l {
  color: #ed1e79 !important;
  font-size: 20px;
  font-family: 'orkney-bold';
  padding: 0 5px;
  letter-spacing: 2px;
}

#display-address .input-group-append {
  margin-left: -24px;
  z-index: 1;
}

#display-address .ref-sec {
  width: 600px;
  margin: 20px auto;
}

#display-address .glb-btn-syp:hover {
  background-color: #c31863;
  color: #ffffff;
}

#display-address .ref-sec input {
  padding: 0 50px;
}

#receipt-view .global-rap {
  width: 700px;
  margin: 0 auto;
}

a.nav-link {
  color: #696969;
}

.global-rap .form-control {
  color: #696969;
}

.foot-copy {
  font-size: 12px;
}

.signup_left {
  padding-top: 20%;
}

input[type="text"]:disabled,
button:disabled,
button:hover:disabled {
  background: #e77baa !important;
  cursor: not-allowed;
}

.qrcode img {
  display: block;
  margin: auto;
}

input[type="radio"] {
  background-color: #ddd;
  outline: none;
  border-radius: 10px;

  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin-right: 15px;
  position: relative;
  width: 15px;
  -webkit-appearance: none;
}

input[type="radio"]:after {
  background-color: #989898;
  border-radius: 25px;

  content: '';
  display: block;
  height: 7px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 7px;
}

input[type="radio"]:checked:after {
  background-color: #ed1e79;
  opacity: 1;
}

/*referal-page-css*/
.referral-page .ref-overlay {
  padding: 30px 60px;
}

.referral-page .social-link .bt-st {
  width: 200px;
}

.referral-page .type-payment .glb-btn-pep {
  background: #F2F2F2;
  color: #696969;
}

.referral-page .type-payment .glb-btn-pep.active {
  background: #ed1e79;
}

.referral-page .type-payment .bt-st {
  width: 150px;
}

.referral-page .type-payment .sp {
  width: 18%;
  display: inline-block;
}

.referral-page .ref-sec .bt-st {
  width: 200px;
  margin: 0;
}

.referral-page .type-payment .val {
  padding: 10px 0;
}

.support .rail-select,
.referral-page .rail-select {
  position: relative;
  width: 150px;
  margin: 0 auto;
}

.support .rail-select {
  width: 250px;
  margin: 0;
}

.referral-page .size-banner {
  padding-bottom: 21px;
}

.support .rail-select select,
.referral-page .rail-select select {
  border: solid 1px #e2e1e1;
  border-radius: 25px;
  font-size: 16px;
  color: #93278f;
  height: 42px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.support .rail-select select:focus,
.referral-page .rail-select select:focus {
  outline: none;
  box-shadow: none;
  border: solid 1px #e2e1e1;
}

.support .rail-select .select-side,
.referral-page .rail-select .select-side {
  pointer-events: none;
  width: 40px;
  position: absolute;
  top: 0px;
  background-color: #F1F1F1;
  height: 100%;
  left: 120px;
  border-radius: 0px 25px 25px 0px;
  border-right: solid 1px #e2e1e1;
  border-top: solid 1px #e2e1e1;
  border-bottom: solid 1px #e2e1e1;
}

.support .rail-select .select-side {
  left: 210px;
}

.support .rail-select .select-side:before,
.referral-page .rail-select .select-side:before {
  border-left: 1px dashed #e2e1e1;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
}

.support .rail-select .select-side i,
.referral-page .rail-select .select-side i {
  padding: 18% 0;
  font-size: 24px;
  color: #93278f;
}

.support .rail-select .select-side i {
  padding: 6px 10px;
}

.support .rail-select .select-side i.blue,
.referral-page .rail-select .select-side i.blue {
  color: #4e7af0;
}

.support .rail-select .form-control:focus,
.referral-page .rail-select .form-control:focus {
  background-color: transparent;
}

.referral-page .ref-sec button, .referral-page .social-link button {
  cursor: pointer;
}

.referral-page .img_ref {
  height: 300px;
  max-width: 400px;
  position: relative;
  margin: auto
}

.referral-page .img_ref img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 15px;
}

.referral-page .ref-sec.small.nor,
.referral-page .ref-ll.small.nor {
  font-size: 14px;
}

.head_span {
  position: absolute;
  padding-left: 0 !important;
}

.footer-remove .foot-copy {
  display: none;
}

.footer-remove .div_mar_25 {
  margin-top: 50px;
}

/*table-gobal-css*/
.table td, table tr:first-child,
.with .table td, .with table tr:first-child,
.tre-tab .table td, .tre-tab table tr:first-child {
  border-top: 0;
}

table tr,
.tre-tab table tr,
.with table tr {
  border-top: 1px dashed #dee2e6;
}

.table_div.user-t td {
  font-size: 25px;
}

.table tr th,
.with tr th,
.tre-tab tr th {
  background: #f0f0f0;
  color: #49545f;
  font-family: 'orkney-bold';
  border-bottom: 0;
  border-top: 0;
}



.table th:first-child,
.with tr th:first-child,
.tre-tab tr th:first-child {
  border-radius: 20px 0 0 20px;
}

.table tr th:last-child,
.with tr th:last-child,
.tre-tab tr th:last-child {
  border-radius: 0 20px 20px 0;
}

.table-responsive {
  padding-top: 15px;
}

.input-group re-captcha#signupCapcha {
  padding: 0 5%;
}

.dropdown-menu {
  right: 0;
  left: inherit;
  background-color: #f8f9fa;
}

.dropdown-menu a {
  color: #696969;
  font-size: 14px;
}

.dropdown-menu a:hover {
  color: #828181;
}

.dropdown-menu li {
  width: 100%;
  border-bottom: 1px solid #e4e2e2;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

ul {
  padding: 0;
}

.mydp,
.mydp .selectiongroup input,
.mydp .selectiongroup {
  background: transparent !important;
  border: none !important;
}

.mydp .btnpicker {
  background: transparent !important;
  color: #888484 !important;
}

.file-upload {
  clear: both;
}

.file-upload .file-select {
  display: block;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  overflow: hidden;
  position: relative;
  background-color: #F1F1F1;
  border-radius: 25px;
  color: #696969;
  border: 1px solid #ced4da;
}

.file-upload .file-select .file-select-button {
  background: #ed1e79;
  padding: 3px 32px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0;
  width: 85px;
  color: #fff;
  border-radius: 25px;
}

.mydp .selbtngroup {
  height: 28px !important;
}

.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.file-upload .file-select:hover .file-select-button {
  background: #34495e;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.home-landing .div_mar_25 {
  background-color: #fafafa;
}

#Com-trans .global-rap {
  padding: 40px 15px 30px;
}

.super-modal {
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#page-root {
  height: 100%;
  position: fixed;
  width: 100%;
  overflow-y: auto;
}


.log-in, .sign-up, .fr-pwd {
  background: #212121;
  position: relative;
}

.log-in:before,
.sign-up:before,
.fr-pwd:before {
  content: '';
  background: url("/assets/images/glowBG.svg") no-repeat left;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 7%;
  left: 10%;
  z-index: 0;
}

#receipt-view .user-t {
  width: 520px;
  margin: 0 auto;
}

#receipt-view .table_div.user-t td {
  font-size: 24px;
}

.login_btn.input-group {
  padding: 0 30px;
}

.payments-select {
  padding: 10px 0 60px;
}

input[type="radio"]:after {
  background-color: #ffffff;
}

.button-val .copy a {
  width: 80% !important;
  float: left;
  padding: 11px 8px !important;
}

.home-landing .n-p {
  padding: 20px 0;
}

.status.big {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'orkney-bold';
  letter-spacing: 1px;
  min-width: 236px;
  height: 45px;
  border-radius: 34px;
  font-size: 12px;
  font-weight: bold;
  line-height: 17px;
  color: #fff;
  padding: 15px;
}

.glb-btn-pep.status.left {
  background: #ed1e79;
  color: #ffffff;
  border: none !important;
}

.status.right:after,
.status.left:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.status.left:before {
  content: "\f060";
  padding-right: 10px;
}

.status.right:after {
  content: "\f061";
  padding-left: 10px;
}

.apply-now {
  padding-top: 22px;
  margin-top: 60px;
}

.timer_tile {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'orkney-bold';
  font-size: 16px;
}

.select-pay-method h3.timer_tile {
  padding: 20px 0;
  border-bottom: 1px solid #e8e7e7;
  margin: 0;
}

.select-pay-method .timer_tile.metho {
  padding-top: 0;
  width: 280px;
  margin: 0 auto;
}

.payments-select ul {
  padding-top: 40px;
}

.text-header-rap {
  width: 140px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 -5px;
}

.sb-facebook {
  background: #3b5999 !important;
  border-color: #3b5999 !important;
}

.sb-twitter {
  background: #55acee !important;
  border-color: #55acee !important;
}

.sb-google {
  background: #dd4b39 !important;
  border-color: #dd4b39 !important;
}

.sp-email {
  background: #21759b;
  border-color: #21759b !important;
}

@media screen and (min-width: 1600px) {
  .foot-copy {
    position: relative;
    bottom: 0;
  }
}

@media screen and (max-width: 1600px) {
  .background-img-level {
    background: url(/assets/images/genesisx-web-50.png) no-repeat bottom right;
  }
}

@media screen and (max-width: 1199px) {
  .promo-rap {
    padding: 2% 5% !important;
  }

  .bt-st {
    margin: 25px 5px 0;
  }

  .login_left, .login_right {
    padding: 15% 8%;
  }

  .status {
    padding: 5px 10px;
  }

  .status:after {
    padding-left: 5px;
  }

  .status.big {
    height: 60px;
    min-width: 250px;
    font-size: 16px;
    line-height: 50px;
  }
}

@media screen and (max-width: 991px) {
  .status.big {
    font-size: 12px;
  }

  .login_left, .login_right {
    padding: 15px 22%;
  }

  .login_left, .span_link {
    text-align: center;
  }

  .login_left {
    margin-top: 30px;
  }

  .login_right {
    margin-bottom: 15px;
  }

  .span_bor_div {
    margin-left: 0;
    margin: 30px 10%;
    width: 80%;
  }

  .button-val .copy a {
    float: none;
    width: 150px !important;
  }

  .hide_res {
    display: none;
  }

  .hide_nor {
    display: block;
    float: left;
    width: 100%;
  }

  .login_left ul {
    padding-bottom: 0;
  }

  .div_mar_25 {
    margin-top: 50px;
  }

  /*.timer_tile{*/
  /*padding-top: 30px;*/
  /*}*/
  .invest-amt .with-out {
    padding: 0 40px;
  }

  .apply-now .nav-tabs .nav-link.active .text-in {
    font-size: 14px;
    padding: 0 10px;
  }

  .referral-page .ref-sec .bt-st {
    width: 140px;
  }

  .background-img-level {
    display: none;
  }

  .span_bor_div {
    margin-left: 0;
    margin: 30px 10%;
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .tim-w.global-rap {
    width: auto !important;
  }

  .v-l {
    display: none;
  }

  .login_left, .login_right {
    padding: 15px 15%;
  }

  .login_left {
    margin-top: 30px;
  }

  .login_right {
    margin-bottom: 15px;
  }

  .button-val .copy a {
    margin: 10px auto !important;
  }

  .login_left h1 {
    font-size: 30px;
  }

  .login_left p {
    font-size: 15px;
    line-height: 20px;
  }

  .bor_div {
    margin-bottom: 30px;
    float: left;
    width: 100%;
  }

  .div_mar_25 {
    margin-bottom: 20%;
  }

  .table_div.user-t td {
    font-size: 22px !important;
    display: block;
    text-align: center !important;
    padding: 8px;
  }

  .user-t .status {
    width: 170px;
    margin: auto;
    display: block !important;
  }

  #display-address .ref-sec {
    width: auto;
  }

  #display-address .ref-sec .bt-st {
    margin-top: 0;
  }

  #display-address .invest-amt {
    padding: 40px 20px 10px;
  }

  #receipt-view .global-rap {
    width: auto;
  }

  #receipt-view h2 {
    font-size: 30px;
  }

  .apply-now .nav-link {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .global-rap.p-5 {
    padding: 2rem !important;
  }

  .timer_tile {
    font-size: 14px;
  }

  .foot-copy {
    padding: 0 10px;
    font-size: 10px;
  }

  .small, small {
    padding: 0 5px;
  }

  .ngx-pagination {
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 30px;
  }

  .global-rap.mt-5 {
    margin-top: 1.5rem !important;
  }

  .referral-page .ref-overlay {
    padding: 0;
  }

  .referral-page .social-link .bt-st {
    width: 120px;
  }

  .referral-page .global-rap.p-5 {
    padding: 40px 10px !important;
  }

  .referral-page .ref-sec .bt-st {
    width: 160px;
    margin: 15px 0;
  }

  .referral-page .ref-sec .copy .bt-st {
    width: 200px;
  }

  .foot-copy {
    font-size: 8px;
    text-align: center;
  }

  .span_link {
    font-size: 12px;
  }

  .mo-hi-view {
    display: none;
  }

  .login_right .e-mail-fs input {
    margin-top: 20px;
  }

  .log-in .login_mar_div {
    padding-top: 0;
    margin: 0;
  }

  .login_right .input-group {
    padding: 15px 30px 0;
  }

  .login_left, .login_right {
    padding: 0;
  }

  .logo.col-12 img {
    width: 80px;
  }

  .log-in .logo img {
    padding: 0 0 25px;
  }

  #signup-form .form-check {
    padding: 0 10px;
  }

  .span_term {
    font-size: 12px;
  }

  .input-group re-captcha#signupCapcha {
    padding: 0 25px;
  }

  .sign-up .login_left {
    margin: 5px 0;
  }

  .referral-page .global-rap {
    padding: 15px;
  }

  .apply-now .nav-link {
    padding: 10px 0;
  }

  .apply-now .nav-tabs .nav-link.active .text-in {
    padding-left: 5px;
    padding-right: 10px;
  }

  .buy-tokens span.number, .buy-tokens .active span.number {
    width: 30px;
  }

  .payments-select ul {
    margin: 0 !important;
  }

  #receipt-view h2 {
    font-size: 20px;
  }

  .token-list button .span_bor_div {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .referral-page .ref-sec .bt-st {
    width: auto;
  }

  .n-p .status {
    margin: 10px 0;
  }

  .support .rail-select .select-side {
    left: 160px;
  }

  .support .rail-select {
    width: 180px;
  }

  .token-list .pt-5 {
    padding: 0;
  }

  .payments-select {
    padding: 0px 0 25px !important;
  }

  .apply-now ul.nav.nav-tabs.text-center {
    margin-left: 50px;
  }

  .referral-page .ref-sec .copy .bt-st {
    width: 160px;
    font-size: 10px;
  }
}





