@media screen and (max-width: 550px) {

}
@media screen and (max-width: 991px) {
  .tab-v {
      display: none;
  }
  .login_left h1, h1 {
    font-size: 34px;
    font-family: 'orkney-bold';
  }
  .login_form h2{
    font-family: 'orkney-bold';
  }
}

