<div class="reffee footer-remove">
  <app-header></app-header>
  <div class="div_mar_25">
    <div class="container token-list  referral-page">
      <h1 class="col-sm-12 pt-5 text-center">Give 5% Bonus. Get 5% Bonus.</h1>
      <div class="col-md-12 ref-ll text-center span_ref_link pt-5">
        <h1>Referral Link</h1>
        <span class="span_bor_div"></span>
        <div class=" global-rap p-md-5 mt-5">
          <div class="ref-overlay">
            <p class="p-text">Join our referral program. Share your unique link, refer friends and gain 5% tokens your
              friends will also get 5%
              bonus for using your link. Win-win for both</p>
            <div class="ref-sec col-md-12">
              <div class="row">
                <div class="col-md-9 p-0"><input type="text" class="form-control" value={{referralLink}} readonly></div>
                <div class="copy col-md-3">
                  <button class="bt-st glb-btn-syp" (click)="textCopied()" [cbContent]="referralLink" ngxClipboard>
                    copy
                  </button>
                </div>
              </div>
            </div>
            <div class="social-link">
              <button shareButton="facebook" sbUrl="{{referralLink}}" class="bt-st glb-btn-pep"><i
                class="fa fa-facebook"></i> facebook
              </button>
              <button shareButton="twitter" sbUrl="{{referralLink}}" class="bt-st glb-btn-pep"><i
                class="fa fa-twitter"></i> twitter
              </button>
              <a href="mailto:?subject=Join my network &body=Hi<br/>I found this referral program join my network using below link<br/>
                {{referralLink}}" class="bt-st glb-btn-pep sp-email"><i class="fa fa-envelope" aria-hidden="true"></i> email</a>
            </div>
          </div>
        </div>
      </div><br><br><br><br>
      <div class="col-md-12 text-center">
        <h1>Banner Campaign</h1>
        <span class="span_bor_div"></span>
        <div class="global-rap ref-link mt-5 mb-5">
          <div class="ref-overlay">
            <p class="p-text pt-4">If you are an owner of a forum or a website, you can place GenesisX Banners there and
              receive 5% from every purchase of the clients
              attracted. Just choose a banner of any size, click on it, copy and paste the banner code on your website.
              After the ICO is finished, we will
              calculate all the results and tokens will be distributed among all the program participants</p>
            <div class="ref-sec col-md-12">
              <div class="row">
                <div class="size-banner col-sm-12 text-center">
                  <p class="small nor">Choose your banner size:</p>
                  <div class="rail-select">
                    <div class="select-side">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    <select class="form-control" id="sel1" (change)="selectBannerSize(selectbanner.value)" #selectbanner>
                      <option value="1" selected>970 X 90</option>
                      <option value="2">400 X 300</option>
                      <option value="3">1200 X 600</option>
                      <option value="4">400 X 400</option>
                    </select>
                  </div>
                </div>
                <div class="copy col-sm-12">
                  <p class="ref-ll small nor">Banner Sample:</p>
                  <div class="col-sm-12 img_ref">
                    <a href="{{referralLink}}"><img src="{{bannerSource}}" height="{{bHeight}}" width="{{bWidth}}"  alt="Banner"> </a>
                  </div>
                  <div class="copy col-md-12 p-5 pb-1">
                    <button class="bt-st glb-btn-syp" (click)="getSourceCode()" [cbContent]="bannerSourceCode" ngxClipboard>Copy Source Code
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center ">
        <h1>Your referrals</h1>
        <span class="span_bor_div"></span>
        <div class="col-md-12 global-rap justify-content-center align-items-center mt-5 mb-5">
          <div class="table-responsive">
            <table class="table table_div text-center">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Token</th>
                <th scope="col">Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rl of referralList | paginate: { itemsPerPage: 5, currentPage: p1 } ; let i = index">
                <td>{{rl.fullName}}</td>
                <td>{{rl.email}}</td>
                <td>{{rl.balanceTKN}}</td>
                <td>{{rl.timestamp | date:  "medium"}}</td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="!referralList || referralList.length === 0">
              <p>No record found!</p>
            </div>
            <div *ngIf="!referralList || referralList.length > 4">
            <div class="paginat">
              <pagination-controls (pageChange)="p1 = $event" ></pagination-controls>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-navigation></app-navigation>
</div>
