<router-outlet>
  <!--<ng-progress [direction]="'ltr+'" [min]="20" [max]="1" [speed]="200"  [trickleSpeed]="300"
               [spinner]="true" [spinnerPosition]="'left'" [thick]="false" [meteor]="true"
               [color]="'red'" [ease]="'linear'"></ng-progress>-->
  <app-loader></app-loader>
</router-outlet>

