<app-header></app-header>
<div class="div_configuration mt-5">
  <div class="container">
    <div class="col-sm-12 text-center title">
      <h2>Configuration</h2>
      <span class="line"></span>
    </div>
    <div class="top-spacing">
      <div class="col-lg-12 col-md-12 col-sm-12 mx-auto mt-5">
        <form [formGroup]="configForm">
          <div class="col-sm-12 form_inner configuration_form">
            <div class="full-width bottom-spacing">
              <button type="button" id="div1" class="btn btn-lg btn-toggle pull-right" data-toggle="button" aria-pressed="false">
                <div class="handle"></div>
              </button>
            </div>
            <div class="full-width">
              <div class="row form-group" *ngFor="let config of configs ;let i = index">
                <div class="col-sm-5">
                  <label >{{config.displayName}}</label>
                </div>

                <div class="col-sm-4" *ngIf="config.type=='valueString'">
                  <input id="001" class="form-control" type="text" placeholder="{{config.value}}" [formControl]="configForm.controls['value']"
                    value="{{config.value}}" />
                </div>
                <div class="col-sm-4" *ngIf="config.type=='valueDouble'">
                  <input id="002" class="form-control" type="number" placeholder="{{config.value}}" [formControl]="configForm.controls['value']"
                         value="{{config.value}}" />
                </div>
                <div class="col-sm-4" *ngIf="config.type=='valueDate'">
                  <input id="003" class="form-control" type="date" [formControl]="configForm.controls['value']"
                         value="{{config.value}}" placeholder= "{{config.value}}" />
                </div>
                <div class="col-sm-4" *ngIf="config.type=='valueBoolean'">
                  <select id="004" [formControl]="configForm.controls['value']" class="form-control align-top" style="border-radius: 6px">
                    <option [selected]="config.value" [ngValue]="true">true</option>
                    <option [selected]="!config.value" [ngValue]="false" >false</option>
                  </select>
                </div>

                <div class="col-sm-3">
                  <button type="submit" class="btn btn-save pull-right" (click)="updateConfig(config)">Update</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
