<div class="trans-sec footer-remove ">
  <!--<app-header></app-header>-->
  <div class="container pric-pol">
      <p>The privacy policy of GENESISX One is dedicated to provide the best level of service to those who are concerned with how
        their &lsquo;Personally Identifiable Information&rsquo; (PII) is being used online. PII is information that can be
        used on its own or with other information to identify, contact, or locate a single person, or to identify an
        individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use,
        protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

      <p><strong>What personal information do we collect from visitors who come to our blog visit our website?</strong></p>

      <p>When you register on our website you may be asked to enter your name, email address or other details to help you
        with your experience.</p>

      <p><strong>When is your information being collected?</strong></p>

      <p>GENESISX One collect information from you when you register on our site, place an order, Use Live Chat or enter
        information on our site.</p>

      <p><strong>How is your information being used?</strong></p>

      <p>GENESISX One may use the information we collect from you when you register, make a purchase, sign up for our newsletter,
        respond to a survey or marketing communication, surf the website, or use certain other site features in the
        following ways:</p>

      <p>To quickly process your transactions.<br/>
        To follow up with them after correspondence (live chat, email or phone inquiries)</p>

      <p><strong>How is your information being protected?</strong></p>

      <p>GENESISX One do not use vulnerability scanning and/or scanning to PCI standards.<br/>
        GENESISX One do not use Malware Scanning.<br/>
        Your personal information is contained behind secured networks and is only accessible by a limited number of
        individuals who have special access rights to such systems, and are required to keep the information confidential.
        In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>

      <p>GENESISX One implement a variety of security measures when a user places an order to maintain the safety of your
        personal information.</p>

      <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>

      <p><strong>Do GENESISX One website use &lsquo;cookies&rsquo;?</strong></p>

      <p>Yes. Cookies are small files that a site or its service provider transfers to your computer&rsquo;s hard drive
        through your Web browser (if you allow) that enables the site&rsquo;s or service provider&rsquo;s systems to
        recognize your browser and capture and remember certain information. For instance, we use cookies to help us
        remember and process the items in your shopping cart. They are also used to help us understand your preferences
        based on previous or current site activity, which enables us to provide you with improved services. We also use
        cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site
        experiences and tools in the future.</p>

      <p>GENESISX One use cookies to:<br/>
        Help remember and process the items in the shopping cart.<br/>
        Understand and save user&rsquo;s preferences for future visits.<br/>
        Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools
        in the future. We may also use trusted third-party services that track this information on our behalf.</p>

      <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all
        cookies. You do this through your browser settings. Since browser is a little different, look at your browser&rsquo;s
        Help Menu to learn the correct way to modify your cookies.</p>

      <p>If users disable cookies in their browser:<br/>
        If you turn cookies off, Some of the features that make your site experience more efficient may not function
        properly. Some of the features that make your site experience more efficient and may not function properly.</p>

      <p><strong>Third-party disclosure</strong></p>

      <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we
        provide users with advance notice. This does not include website hosting partners and other parties who assist us in
        operating our website, conducting our business, or serving our users, so long as those parties agree to keep this
        information confidential. We may also release information when it&rsquo;s release is appropriate to comply with the
        law, enforce our site policies, or protect ours or others&rsquo; rights, property or safety.</p>

      <p>However, non-personally identifiable visitor information may be provided to other parties for marketing,
        advertising, or other uses.</p>

      <p><strong>Third-party links</strong></p>

      <p>We do not include or offer third-party products or services on our website.</p>

      <p>We have implemented the following:<br/>
        We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and
        third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data
        regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>

      <p>Opting out:<br/>
        Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can
        opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser
        add on.</p>

      <p><strong>COPPA (Children Online Privacy Protection Act)</strong></p>

      <p>When it comes to the collection of personal information from children under the age of 13 years old, the Children&rsquo;s
        Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States&rsquo;
        consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services
        must do to protect children&rsquo;s privacy and safety online.</p>

      <p>We do not specifically market to children under the age of 13 years old.<br/>
        Do we let third-parties, including ad networks or plug-ins collect PII from children under 13?</p>

      <p><strong>CAN SPAM Act</strong></p>

      <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial
        messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties
        for violations.</p>

      <p>GENESISX One may collect your email address in order to:<br/>
        Process orders and to send information and updates pertaining to orders.<br/>
        To be in accordance with CANSPAM, we agree to the following:<br/>
        Not use false or misleading subjects or email addresses.<br/>
        Identify the message as an advertisement in some reasonable way.</p>

      <p><strong>Contacting Us</strong></p>

      <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
  </div>
</div>
