<div class="home-landing footer-remove">
  <app-header></app-header>
  <div class="div_mar_25">
    <!--<app-ico-timer></app-ico-timer>-->
    <section class="token-list container">
      <div class="h-100">
        <div class="col-md-12 apply-now text-center buy-tokens">
          <div class="">
            <div class="ra-sap">
              <ul class="nav nav-tabs text-center" role="tablist">
                <li class="nav-item p-0">
                  <span class="nav-link ">
                    <span class="number">1</span>
                    <span class="text-in"> Payment Method
                    </span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link ">
                    <span class="number">2</span>
                    <span class="text-in">Complete Transaction</span>
                  </span>
                </li>
                <li class="nav-item p-0 active">
                  <span class="nav-link" data-toggle="tab" href="#display-address" role="tab" id="displayAddress"
                        #displayAddress>
                    <span class="number">3</span>
                    <span class="text-in">Address</span>
                  </span>
                </li>
                <li class="nav-item p-0">
                  <span class="nav-link">
                    <span class="number">4</span>
                    <span class="text-in">Transaction Details</span>
                  </span>
                </li>
              </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content tab_content_block">
              <div class="tab-pane" id="select-pay" role="tabpanel">
                <div class="pay-method col-sm-12 p-0">
                  <div class="select-pay-method">
                    <div class="rates-row">
                      <ul>
                        <li>1 TKN
                          <span class="space">=</span>
                          <span class="color-blue">{{tkn2USD}} USD </span>
                        </li>
                        <li>
                          <span class="color-blue">ETH = {{(1/tkn2Teth).toFixed(8)}}</span>
                        </li>
                        <li>
                          <span class="color-blue">BTC = {{(1/tkn2Tbtc).toFixed(8)}}</span>
                        </li>
                        <li>
                          <span class="color-blue">LTC = {{(1/tkn2Tltc).toFixed(8)}} </span>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
              <div class="tab-pane active" id="display-address" role="tabpanel">
                <div class="invest-amt global-rap color-blue">
                  <h2 class="color-de"> {{currency | uppercase}} Funds only!</h2>
                  <p>Send only {{currency}} to this address. The Tokens will be credited after we get confirmation from
                    the
                    network.</p>
                  <p><span class="color-de">Please note </span>that the address for this funding is unique and can only
                    be used once.</p>
                  <div class="receive">Send<span class="bt0-l"> {{generatedAddressAmount}} </span>
                    {{currency|uppercase}} to this
                    adress:
                  </div>
                  <div *ngIf="isAddressGenerated">
                    <ngx-qrcode [qrc-value]="generatedAddressText"></ngx-qrcode>
                    Address : {{generatedAddressText}} <br><br>
                    Coin Amount : {{generatedAddressAmount}}

                  </div>
                  <div class="ref-sec col-md-12">
                    <div class="row">
                      <div class="col-md-12 input-group p-0 text-center">
                        <input type="text" class="form-control" value={{generatedAddressText}} readonly>
                        <div class="input-group-append">
                          <button class="bt-st glb-btn-syp" (click)="textCopied()" [cbContent]="generatedAddressText"
                                  ngxClipboard>
                            copy
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="amt-recevied">Amount received: <span class="bt0-l">{{coinResult}}</span> {{currency|uppercase}}
                  </div>
                  <div class="col-sm-12 n-p pr-4 pl-4">
                    <div class="row">
                      <div class="col-sm-12 col-md-6"><a routerLink="/payment/{{currency|uppercase}}" class="glb-btn-pep status big left">Back to payment options</a></div>
                      <div class="col-sm-12 col-md-6"><button class="glb-btn-pep status big right" (click)="showReceipt()">Receipt</button></div>
                    </div>
                  </div>
                </div>
              </div>
              <swal
                #errorSwal
                title="Payment not received"
                type="warning"
                [focusCancel]="true">
              </swal>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-navigation></app-navigation>
</div>
