<app-header></app-header>
<section class="container-fluid">
  <div class="container">
    <div class="col-sm-12 first_div pt-5 text-center">
      <h1>total capital raised</h1>
      <div class="value_div gra-line mt-4 mb-4">
        <span>
          $ {{btcUsd * statistics?.totalBtcReceived + ethUsd * statistics?.totalEthReceived + ltcUsd * statistics?.totalLtcReceived}}
        </span>
      </div>
      <div class="btc_div pt-5 mt-5 mb-5">
        <ul>
          <li>
            <span class="inner_ico gra-line bg_ico1">
              <span class="ico ico_svg1">
                <svg role="img" width="75" height="69" class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 37">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #ffffff;
                        }
                      </style>
                    </defs>
                    <title>Asset 10</title>
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <polygon class="cls-1" points="18.5 23.23 18.5 6.1 10.89 18.73 18.5 23.23" />
                        <polygon class="cls-1" points="18.5 6.1 18.5 23.23 26.11 18.73 18.5 6.1" />
                        <polygon class="cls-1" points="18.5 24.67 10.89 20.17 18.5 30.9 26.11 20.17 18.5 24.67" />
                      </g>
                    </g>
                  </svg>
                </svg>
              </span>
              <h3 class="small-space">{{statistics?.totalEthReceived}} ETH</h3>
            </span>
            <p>1 ETH = $ {{ethUsd}}</p>

          </li>
          <li>
            <span class="inner_ico gra-line bg_ico1">
              <span class="ico ico_svg2">
                <svg role="img" width="32" height="44" class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 26.25">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #ffffff;
                        }
                      </style>
                    </defs>
                    <title>Asset 7</title>
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-1" d="M17.52,8C17.23,5.18,14.76,4.23,11.64,4l0-4H9.2l0,3.87-1.93,0L7.27,0H4.85l0,4L3.33,4h0L0,4V6.62s1.79,0,1.76,0a1.23,1.23,0,0,1,1.39,1l0,4.52.25,0H3.19l0,6.34a.84.84,0,0,1-.9.8s-1.76,0-1.76,0L.09,22.24H3.24c.58,0,1.16,0,1.73,0l0,4H7.4l0-4H9.31l0,4,2.42,0,0-4c4.06-.25,6.9-1.29,7.23-5.1.27-3.08-1.18-4.44-3.49-5a3.72,3.72,0,0,0,2-4.07Zm-3.33,8.6c0,3-5.13,2.69-6.77,2.7L7.4,14c1.63,0,6.77-.51,6.79,2.62ZM13,9.14c0,2.73-4.27,2.43-5.64,2.44l0-4.83C8.72,6.75,13,6.29,13,9.14Z"
                        />
                      </g>
                    </g>
                  </svg>
                </svg>
              </span>
              <h3 class="small-space">{{statistics?.totalBtcReceived}} BTC</h3>
            </span>

            <p>1 BTC = $ {{btcUsd}}</p>

          </li>
          <li>
            <span class="inner_ico gra-line bg_ico1">
              <span class="ico ico_svg3">
                <svg role="img" width="32" height="44" class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.54 20.36">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #ffffff;
                        }
                      </style>
                    </defs>
                    <title>Asset 8</title>
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-1" d="M8.08,16.36l1.32-5,3.13-1.15.78-2.92,0-.08L10.21,8.36,12.43,0H6.13L3.23,10.91.8,11.8l-.8,3,2.42-.88L.71,20.36H17.47l1.07-4H8.08"
                        />
                      </g>
                    </g>
                  </svg>
                </svg>
              </span>
              <h3 class="small-space">{{statistics?.totalLtcReceived}} LTC</h3>
            </span>
            <p>1 LTC = $ {{ltcUsd}}</p>

          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 next_div pt-5 pb-5 text-center">
      <div class="token_div row">
        <ul>
          <li>
            <span class="inner_token">
              <p>total token Supply</p>
              <h3>{{availableTokens | number }} {{tknName}}</h3>
            </span>
          </li>
          <li>
            <span class="inner_token">
              <p>token sold</p>
              <h3>{{totalSold}} {{tknName}}</h3>
            </span>
          </li>
          <li>
            <span class="inner_token">
              <p>current token price</p>
              <h3>${{tkn2USD}}</h3>
            </span>
          </li>
          <li>
            <span class="inner_token">
              <p>number of users</p>
              <h3>{{userCount | number}}</h3>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 next_div pt-5 text-center">
      <div class="tim-w global-rap">
        <h3 class="timer_tile">
          <span class="discount">15% Discount</span>&ensp;TIME TILL ICO - STAGE 2 ENDS</h3>
        <ul class="timer_div">

          <li>
            <span class="box">{{days}}</span>
            <!--<span class="box">9</span>-->
            <p>Days</p>
          </li>
          <li>
            <span class="box">{{hours}}</span>
            <!--<span class="box">0</span>-->
            <p>hours</p>
          </li>
          <li>
            <span class="box">{{minutes}}</span>
            <!--<span class="box">1</span>-->
            <p>minutes</p>
          </li>
          <li>
            <span class="box">{{seconds}}</span>
            <!--<span class="box">0</span>-->
            <p>seconds</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 process_block pt-5 pb-5 mb-5 text-center ">
      <div class="progress">
        <div class="progress-bar gra-line progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
          style="max-width:39%">
          <span class="bar-bg "></span>
          <ul>
            <li>
              <span class="bar bar1">
                Stage 1
                <br>Pre-Sale
              </span>
            </li>
            <li>
              <span class="bar bar2 active">
                Stage 2
                <br>Private ICO
              </span>
            </li>
            <li>
              <span class="bar bar3">
                Stage 3
                <br>Public ICO
              </span>
            </li>
            <li>
              <span class="bar bar4">
                Stage 4
                <br>Public ICO
              </span>
            </li>
            <li>
              <span class="bar bar5">
                Stage 5
                <br>Public ICO
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="full-width">
      <div class="col-sm-12 p-0">
        <div class="search-btn chart-hi col-md-12">
          <form [formGroup]="searchForm" (submit)="getInvestmentByDate()" class="row">
            <div class="input-group col-md-3 date">
              <span class="col-sm-3 top-p">From:</span>
              <input type="date" (change)="setEndDate()" id="fromDate" [formControl]="searchForm.controls['fromDate']" required="required"
                class="form-control col-sm-9" name="fromDate" placeholder="from date" onkeydown="return false">
            </div>
            <div class="input-group col-md-3 date">
              <span class="col-sm-3 top-p">To:</span>
              <input type="date" disabled id="toDate" [formControl]="searchForm.controls['toDate']" required="required" class="form-control col-sm-9"
                name="toDate" placeholder="to date" onkeydown="return false" value="">
            </div>
            <div class="input-group col-md-6 ser-select">
              <button class="search-img-icon" *ngIf="searchForm.controls['fromDate'].value || searchForm.controls['toDate'].value" title="clear search"
                (click)="reset()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
              <button type="submit" class="search-img-icon" [disabled]="searchForm.invalid">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="search-btn chart-hi col-md-12">
          <div class="col-md-12 btn-st text-right">
            <button class="btn btn-default" (click)="getInvestmentByDay()"> Daily</button>
            <button class="btn btn-default" (click)="getInvestmentByMonth()"> Monthly</button>
            <button class="btn btn-default" (click)="getInvestmentByYear()"> Yearly</button>
          </div>
        </div>
      </div>
    </div>
    <div class="full-width">
      <div class="col-sm-12 card_div pb-5 pr-0 pl-0">
        <div [chart]="chart"></div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>

