<section class="main_block">
  <div class="background-img-level"></div>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="inner_login row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="login_right col-sm-12 text-center">
            <div class="login_form change-pwd">
              <h2>change password</h2>
              <form [formGroup]="changePasswordForm" [class.success]="changePasswordSubmit" autocomplete="off" (ngSubmit)="submit()" name="material_signup_form"
                    class="md-form-auth log-bg" id="signup-form"
                    *ngIf="pageStatus === 'LOADING' || pageStatus === 'START' || pageStatus === 'PROCESSING'">

                <div class="input-group col-sm-12">
                  <input type="password" class="form-control" formControlName="password"  placeholder="Create New Password" aria-describedby="sizing-addon1">
                  <span *ngIf="changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].touched && changePasswordForm.controls['password'].dirty)"
                        class="col-sm-12 form-input-error pt-1">Minimum length for password must be 6 characters.</span>
                </div>
                <div class="input-group col-sm-12">.login_left p
                  <input type="password" class="form-control" formControlName="confirmPassword"  placeholder="Confirm Password" aria-describedby="sizing-addon1">
                  <span
                    *ngIf="(changePasswordForm.controls['password'].value != changePasswordForm.controls['confirmPassword'].value)  && (changePasswordForm.controls['confirmPassword'].dirty && changePasswordForm.controls['confirmPassword'].touched)"
                    class="col-sm-12 form-input-error">Passwords must match.</span>
                </div>


                <div class="input-group col-sm-12">
                  <re-captcha id="changePasswordCapcha" (resolved)="resolvedChangePassword($event)"></re-captcha>
                </div>

                <div class="input-group col-sm-12">
                  <button type="submit" class="glb-btn-pep btn btn-primary"  [disabled]="changePasswordForm.invalid || pageStatus === 'PROCESSING' || !googleCaptchaCheck || (changePasswordForm.controls['password'].value != changePasswordForm.controls['confirmPassword'].value)">
                    <ng-container *ngIf="pageStatus === 'START'">Change Password</ng-container>
                    <ng-container *ngIf="pageStatus === 'PROCESSING'">Change Password...</ng-container>
                  </button>
                </div>
              </form>
              <swal
                #errorSwal
                title="{{pageError}}"
                type="error"
                [focusCancel]="true">
              </swal>
              <swal
                #successSwal
                title="Password successfully changed."
                text="Your password has been changed successfully!"
                type="success"
                [focusCancel]="true">
              </swal>
            </div>
          </div>
        </div>
        <!--<div class="col-lg-6 col-md-12 col-sm-12">-->
          <!--<div class="login_left col-sm-12">-->
            <!--<h1>Welcome to GenesisX's ICO Dashboard.</h1>-->
            <!--<span class="span_bor_div"></span>-->
            <!--<p>Please sing in with the username and password sent to your e-mail.</p>-->
            <!--<ul>-->
            <!--<li><a class="glb-btn-pep" href="javascript:void(0)" (click)="signInWithGoogle()">sign in with google <i class="fa fa-google-plus"></i></a></li>-->
            <!--<li><a class="glb-btn-syp" href="javascript:void(0)" (click)="signInWithFB()" >sign in with facebook <i class="fa fa-facebook"></i></a></li>-->
            <!--</ul>-->
            <!--<div class="tab-v">-->
            <!--<span class="span_link">Don't have an account? <a [routerLink]="['/login']" class="">Login</a> here. </span>-->
            <!--<span class="span_link">Don't have an account? <a [routerLink]="['/sign-up']" class="">Signup</a> here. </span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</section>
