<app-header></app-header>
<div class="container user-mana ">
  <div class="token_div mt-5 row">
    <ul>
      <li>
              <span class="inner_token">
                <p>total users</p>
                <h3>{{statistics?.totalUsers}}</h3>
              </span>
      </li>
      <li>
              <span class="inner_token">
                <p>invested user</p>
                <h3>{{statistics?.totalInvestedUser}}</h3>
              </span>
      </li>
      <li>
              <span class="inner_token">
                <p>blocked accounts</p>
                <h3>{{statistics?.totalBlockUser}}</h3>
              </span>
      </li>
      <li>
              <span class="inner_token">
                <p>registered today</p>
                <h3>{{statistics?.totalTodayRegisteredUser}}</h3>
              </span>
      </li>
    </ul>
  </div>
  <div class="user-table pt-5">
    <div class="col-sm-12 text-center title">
      <h2>Users</h2>
      <span class="line"></span>
    </div>
    <div class="col-md-12 p-rl form_inner global-rap tre-tab justify-content-center align-items-center  mt-5 mb-5">
      <div class="search-btn br-0 col-md-12">
        <form [formGroup]="searchForm" (submit)="searchRecord(); getSearchRecordToExport()">
          <div class="input-group">
            <span class="col-md-2 text-left">
              <button type="button" (click)="exportUsers()" class="exp btn-default">Export <i class="fa fa-upload" aria-hidden="true"></i></button>
            </span>
            <span class="col-md-10">
              <input id="search" type="text" id="query" [formControl]="searchForm.controls['query']"
                     required="required" class="form-control" name="search" placeholder="Search">
              <button class="search-img-icon" *ngIf="searchForm.controls['query'].value" title="clear search" (click)="reset()"><i class="fa fa-times" aria-hidden="true"></i>
              </button>
              <button type="submit" class="search-img-icon"><!--<span class="input-group-addon">--><i class="fa fa-search" aria-hidden="true"></i><!--</span>--></button>

            </span>
          </div>
        </form>
      </div>
      <div class="text-right" style="padding-top: 20px">

      </div>
      <div class="table-responsive person">
        <table class="table table_div text-center  table-striped">
          <thead>
          <tr>
            <th nowrap class="border-top-0" scope="col">#</th>
            <th nowrap class="border-top-0" scope="col">EMAIL</th>
            <th nowrap class="border-top-0" scope="col">COUNTRY</th>
            <th nowrap class="border-top-0" scope="col">STATUS</th>
            <th nowrap class="border-top-0" scope="col">2FA</th>
            <th nowrap class="border-top-0" scope="col">TOKENS</th>
            <th nowrap class="border-top-0" scope="col">REGISTERED</th>
            <th nowrap class="border-top-0" scope="col">KYC STATUS</th>
            <th nowrap class="border-top-0" scope="col">REFERRALS</th>
          </tr>
          </thead>
          <tbody>
            <!--<tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p1 } ; let i = index"-->
                <!--data-toggle="modal" data-target="#exampleModal" (click)="getUserByID(user.email)">-->
              <!--<td nowrap>{{i+1}}</td>-->
              <!--<td nowrap>{{ user.email }}</td>-->
              <!--<td nowrap>{{ user.country }}</td>-->
              <!--<td nowrap>{{ user.active }}</td>-->
              <!--<td nowrap>{{ user.twoFaEnabled == true ? true : false }}</td>-->
              <!--<td nowrap>{{ user.balanceTKN }}</td>-->
              <!--<td nowrap>{{ user.timestamp | date:'medium' }}</td>-->
              <!--<td nowrap>{{ user.kycStatus }}</td>-->
              <!--<td nowrap>{{ user.referBy?.email }}</td>-->
            <!--</tr>-->
            <tr *ngFor="let user of users let i = index"
                data-toggle="modal" data-target="#exampleModal" (click)="getUserByID(user.email); getUserInfoByID(user._id); getUserInfoCount(user._id)" style="cursor: pointer">
              <td nowrap>{{i + pastRow}}</td>
              <td nowrap>{{ user.email }}</td>
              <td nowrap>{{ user.country }}</td>
              <td nowrap>{{ user.active }}</td>
              <td nowrap>{{ user.twoFaEnabled }}</td>
              <td nowrap>{{ user.balanceTKN }}</td>
              <td nowrap>{{ user.timestamp | date:'medium' }}</td>
              <td nowrap>{{ user.kycStatus }}</td>
              <td nowrap>{{ user.referBy?.email }}</td>
            </tr>
          <tr *ngIf="users?.length === 0"><td colspan="9">No records found</td></tr>
          </tbody>
        </table>
        <div class="col-sm-12 text-center pt-3 pb-3 pb-0 pageinat">
          <button [disabled]="prevIndex == 0" (click)="changePage(previousBtn)">prev</button>
          <span>{{prevIndex + 1}}</span>
          <button [disabled]="nextBtn == pages?.length" (click)="changePage(nextBtn)">next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal_user" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-9 first_div user_detail mx-auto pb-5 ">
          <h1 class="pb-4"><i class="fa fa-user"></i>{{user?.fullName}}</h1>
          <div class="row">
            <div class="col-md-6 col-sm-12 ">
              <p><span>email:</span> {{user?.email}}</p>
              <p><span>registered:</span> {{ user?.timestamp | date:'medium' }}</p>
              <p><span>kyc Status:</span> {{ user?.kycStatus }}</p>
              <p><span>Tokens:</span> {{ user?.balanceTKN }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <p><span>status:</span> {{ user?.active }}
                <!--<button type="button" class="btn btn-lg btn-toggle {{isUserStatusClass}}" (click)="blockORActivate(user?._id)" data-toggle="button" aria-pressed="false">-->
                  <!--<div class="handle"></div>-->
                <!--</button>-->
              </p>
              <p><span>2fa:</span>
                <button type="button" class="btn btn-lg btn-toggle {{isUserStatusClass2FA}}" data-toggle="button" aria-pressed="false"
                        autocomplete="off" disabled>
                  <div class="handle"></div>
                </button>
              </p>
              <p><span>{{blockoractivate}} user:</span>
                <button type="button" id="div1" class="btn btn-lg btn-toggle {{isUserStatusClass}}" (click)="blockORActivate(user?._id)" data-toggle="button" aria-pressed="false">
                  <div class="handle"></div>
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="assign-tokens table_bar m-auto pt-3">
          <h2 class="text-left">Assign Tokens</h2>
          <form class="assign-cal">
            <div class="form-row col-sm-12 m-auto p-0">
              <div class="col-md-4 mb-3 pr-3">
                <label>Tokens</label>
                <input type="number"  min="0" (input)="calculateTokens()" name="tokens" [(ngModel)]="tokens" class="form-control" placeholder="0.0000" required>
                <!--<span *ngIf="assignTokenForm.controls['tokens'].invalid && (assignTokenForm.controls['tokens'].touched && assignTokenForm.controls['tokens'].dirty)"-->
                      <!--class="col-sm-12 form-input-error pt-3">Invalid tokens</span>-->
              </div>
              <div class="col-md-4 mb-3 pr-3 pl-3">
                <label>usd</label>
                <input type="number" min="0" class="form-control" (input)="calculateUSD()" placeholder="0.0000" name="usdvalue" [(ngModel)]="usd" required>
                <!--<span *ngIf="assignTokenForm.controls['usdvalue'].invalid && (assignTokenForm.controls['usdvalue'].touched && assignTokenForm.controls['usdvalue'].dirty)"-->
                      <!--class="col-sm-12 form-input-error pt-3">Invalid USD</span>-->
              </div>
              <div class="col-md-4 mb-3 pr-3 pl-3">
                <label>Bonus ({{bonus}}) % </label>
                  <input disabled type="text" name="username" class="form-control" placeholder="bonus" aria-describedby="inputGroupPrepend3" value="{{tokenWithBonus}}">
              </div>
            </div>
            <button (click)="assignToken(user?._id)" class="btn btn-center text-center" [disabled]="tokens <= 0" type="submit">assign</button>
          </form>
          <swal
            #successSwal
            title="SUCCESSS"
            text="Token has been assigned successfully!"
            type="warning"
            [focusCancel]="true">
          </swal>
          <swal
            #errorSwal
            title="{{pageError}}"
            type="warning"
            [focusCancel]="true">
          </swal>
        </div>
        <div class="col-md-12 global-rap table_bar tre-tab justify-content-center align-items-center  mt-5 ">
          <div class="table-responsive">
            <table class="table table_div text-center  table-striped">
              <thead>
              <tr>
                <th nowrap class="border-top-0" scope="col">#</th>
                <th nowrap class="border-top-0" scope="col">TIMESTAMP</th>
                <th nowrap class="border-top-0" scope="col">IP</th>
                <th nowrap class="border-top-0" scope="col">LOCATION</th>
                <th nowrap class="border-top-0" scope="col">ACTIVITY</th>
                <th nowrap class="border-top-0" scope="col">BROWSER</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let userdetail of userdetails; let i = index">
                <td nowrap>{{ i + pastInfoRow }}</td>
                <td nowrap>{{ userdetail?.timestamp | date:'medium' }}</td>
                <td nowrap>{{ userdetail?.ipAddress}}</td>
                <td nowrap>{{ userdetail?.city }}</td>
                <td nowrap>Login</td>
                <td nowrap>{{ userdetail?.browser }}</td>
              </tr>
              <tr *ngIf="userdetails?.length === 0 || userdetails?.length == undefined|| userdetails?.length == null"><td colspan="6">No records found</td></tr>
              </tbody>
            </table>
            <div class="col-sm-12 text-center pt-3 pb-3 pb-0 pageinat">
              <button [disabled]="prevUserInfoIndex == 0" (click)="changeInfoPerPage(user._id, previousInfoBtn)">prev</button>
              <span>{{prevUserInfoIndex + 1}}</span>
              <button [disabled]="nextInfoBtn == infopages || infopages == 0" (click)="changeInfoPerPage(user._id, nextInfoBtn)">next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
