<div class="support-sec footer-remove">
  <app-header></app-header>
  <div class="div_mar_25">
    <section class="token-list container">
      <div class="container h-100">
        <div class="col-md-12 col-sm-12 support pt-5">
          <h1 style="text-align: center">Support</h1>
          <span class="span_bor_div mb-5"></span>
          <div class="supp_faq faq_div pt-4 pb-5 pl-4 pr-4">
            <h4 class="col-sm-12">Possible difficulties the user is facing</h4>
            <form [formGroup]="supportTicketForm" class="col-sm-12" enctype="multipart/form-data">
              <div class="rail-select">
                <div class="select-side">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <select [formControl]="supportTicketForm.controls['supportIssue']" class="form-control" id="sel1">
                  <option value="1">Help with Withdrawals</option>
                  <option value="2" selected>Help with Deposits</option>
                  <option value="3">Google Auth(2FA)</option>
                  <option value="4">Help with Trade</option>
                  <option value="5">Other Issue</option>
                </select>
              </div>
              <div class="form-group mt-2">
                <label class="pb-2" for="comment">MESSAGE</label>
                <textarea class="form-control" [formControl]="supportTicketForm.controls['supportDesc']" rows="10" id="comment" placeholder="Type your query here"></textarea>
              </div>
              <swal #errorSwal text="{{supportMessage}}" type="error" [focusCancel]="true">
              </swal>
              <swal #successSwal title="SUCCESS!" text="Your support request has been submit successfully." type="success" [focusCancel]="true">
              </swal>
              <div class="form-group text-right mt-2">
                <button type="button" [disabled]="supportMailStatus==='PROCESSING'||supportTicketForm.invalid" (click)="submitSupportMail()"
                        class="btn">
                  <ng-container *ngIf="supportMailStatus!=='PROCESSING'">
                    Send
                  </ng-container>
                  <ng-container *ngIf="supportMailStatus==='PROCESSING'">
                    Sending..
                  </ng-container>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-12 justify-content-center align-items-center text-center mt-5 mb-5">
          <h1>FAQ</h1>
          <span class="span_bor_div"></span>
          <div class="row list-v pt-5">
            <div class=" col-md-12 col col-sm-12 support">
              <div id="accordion" class="">
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="card-link p-4" data-toggle="collapse" href="#collapseOne">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>I am really interested, how do I participate</span>
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse show " data-parent="#accordion">
                    <div class="card-body">
                      Provided on the website, you will find an easy to use guide that will help you understand all the steps that you need to
                      take in order to invest in GenesisX.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapseTwo">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>How do I purchase cryptocurrencies?</span>
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      There are a lot of ways that you can purchase the cryptocurrency required to invest in GenesisX. You will need to have Access
                      to either Bitcoin or Ethereum. You can take a look at the following exchanges to buy and store your BTC
                      or ETH: Coinbase Kraken Bitstamp Localbitcoins Changelly Binance Poloniex Shapeshift Please note that
                      these exchanges each have their own fees so you need to make sure that you have enough coins to participate
                      in the ICO.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapseThree">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What is the minimum investment amount</span>
                    </a>
                  </div>
                  <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      $100 USD
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header p-4">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What is an ICO?</span>
                    </a>
                  </div>
                  <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      A new wave of crowdfunding that has overtaken venture capital funding in the past year. ICO (Initial Coin Offering) are quickly
                      becoming the quintessential way for Blockchain based companies to raise funds for their projects, by
                      selling the project’s underlying cryptocurrency that will be used to power the project in exchange for
                      Bitcoin, Ether, etc. In some cases it can be seen as similar to the traditional Initial Public Offering
                      (IPO), which investors can purchase a share of a company.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapseFive">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>Why do an ICO?</span>
                    </a>
                  </div>
                  <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      We decided to go the ICO route because we wanted to involve the community as much as possible and spread awareness for the
                      project. An ICO allows anyone that has access to cryptocurrency to invest in projects that they feel
                      will have a great future ahead.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapseSix">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>Is KYC (Know Your Customer) essential to GenesisX</span>
                    </a>
                  </div>
                  <div id="collapseSix" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      A manual screening process is implemented for onboarding users as Inﬂuencers, Brands or Advertisers, which is managed by
                      the GenesisX Foundation. For example, an advertiser is required to provide the necessary KYC documentation
                      and business license, as well as go through a manual orientation process before they are on-boarded to
                      the GenesisX platform
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse7">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What digital Wallet will I be able to use for Playchian.</span>
                    </a>
                  </div>
                  <div id="collapse7" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      You will only be able to withdraw your tokens at the end of the ICO, from there you will be able to place them in a ethereum
                      wallet of your choice, but it is important to remember that these wallets needs to be able to support
                      a customized ERC20 compliant token.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse8">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What is GenesisX</span>
                    </a>
                  </div>
                  <div id="collapse8" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      GenesisX will be a repository of digital media ownership, giving consumers a single platform to access all their digital
                      media entertainment, and furthermore, ensure that content owners are rightly and fairly compensated when
                      their data is consumed.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse9">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What are GENESISX Tokens</span>
                    </a>
                  </div>
                  <div id="collapse9" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      The GenesisX token or GENESISX will be an ERC20 token and will be used to facilitate transactions within the GenesisX ecosystem.
                      A utility token called ‘Chains’ or CHN will be utilized to facilitate micropayments between users on
                      the platform. The reason for having a utility token is to avoid the ‘GAS’ price for each ERC20 token
                      transaction. The wallet balances of users with regards to the utility token will be managed by the private
                      blockchain system, implemented on the GenesisX network.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse10">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>How do I convert GENESISX Tokens to CHS tokens?</span>
                    </a>
                  </div>
                  <div id="collapse10" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      The conversion between GENESISX and CHN will be managed by the system and will take place in a 1:100 ratio or as determined by
                      system analytics in order to manage inﬂation or deﬂation and maintain the stable growth of the GenesisX
                      token.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse11">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What is the total Supply of GENESISX tokens</span>
                    </a>
                  </div>
                  <div id="collapse11" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      The ICO will have a total supply of 2.5 Billion tokens
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse12">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What is the Hard-cap and the Soft-cap of the ICO</span>
                    </a>
                  </div>
                  <div id="collapse12" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      The ICO will have a Hard cap of 875 Million GENESISX Tokens that is equal to 87.5 Million USD with a minimum target of 10 Million
                      USD. If the goal is not achieved at the end of the ICO the funds will be reallocated to the investors
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse13">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What countries can participate</span>
                    </a>
                  </div>
                  <div id="collapse13" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      A detailed document will be made public before the ICO starts that will outline all the countries that will be able to participate
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse14">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>Will there be a bounty or airdrop for the project</span>
                    </a>
                  </div>
                  <div id="collapse14" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Yes there will be a bounty and airdrop, we will make the announcements in due time.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse15">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>Which exchanges will over your coin</span>
                    </a>
                  </div>
                  <div id="collapse15" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      A list of exchanges will be published at the end of the main ICO
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse16">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>What will the prices be on exchanges after the ico has complete</span>
                    </a>
                  </div>
                  <div id="collapse16" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      There are a list of factors that influence the price of the token. Therefore, once the ICO is completed and listed on exchanges,
                      we will not be able to control the price of the token and it will begin to fluctuate the same way normal
                      fiat currency will fluctuate.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header ">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse17">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>When will the payouts begin and how will they work</span>
                    </a>
                  </div>
                  <div id="collapse17" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      You will be able to access the tokens at the end of the main ICO and only if you have completed the KYC process.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse18">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>Is this a scam</span>
                    </a>
                  </div>
                  <div id="collapse18" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Like any other project you need to do your research before investing into the ICO. Our whole team has the experience required
                      and all their business activities are public.
                    </div>
                  </div>
                </div>
                <div class="card supp_faq">
                  <div class="card-header">
                    <a class="collapsed card-link p-4" data-toggle="collapse" href="#collapse19">
                      <i class="fa fa-question-circle" aria-hidden="true"></i><span>Can I work for GenesisX</span>
                    </a>
                  </div>
                  <div id="collapse19" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      Maybe, keep an Eye out on all the Social Networks and Website to receive all the latest updates if there are any openings.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-navigation></app-navigation>
</div>
