.support .card-header{
  background: #ffffff;
  padding: 0;
  border-bottom: 0;
}
.support .card-header a, .support .card-body{
  color: #696969;
}
.support .card-header a{
  display: block;
  outline: none;
}
.supp_faq{
  border: transparent;
  border-radius: 10px;
  background: #ffffff;
}
.supp_faq .form-control{
  background-color: #F1F1F1;
}
.supp_faq textarea.form-control{
  height: auto;
  border-radius: 20px;
  resize: none;
}

.supp_faq label{
  text-align: left!important;
  width: 100%;
  font-size: 14px;
  margin-top: 30px;
}
.supp_faq h4{
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.supp_faq button{
  background: #EC6EA5;
  border-radius: 25px;
  border: transparent;
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 10px 40px;
  line-height: 14px;
}
.support .card{
  border: 0;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 0;
}
.support .card-body{
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-size: 14px;
  padding: 0 10px 20px 40px;
}
.support .card-header{
  display: table;
}
.support .card-header i{
  color: rgba(147,39,143,1);
  padding-right: 10px;
  font-size: 25px;
  display: table-cell;
  vertical-align: middle;
}
.support .card-header span{
  display: table-cell;
}

