
<nav class="navbar p-0 navbar-expand-lg navbar-light bg-dark" [ngClass]= "{'page-scroll-header': isScrolled}">

  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <div class="container collapse navbar-collapse head_block" id="navbarTogglerDemo01">
    <div class="col-md-4 col-sm-6 left_head">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
        <img src="/assets/images/logoBG.png" height="30" class="d-inline-block align-top" alt="">

      </a>

    </div>
    <div class="center-btn head_span button-val text-center">
      <li class="nav-item pt-2 pb-1 pr-2 visi-sm">
        <span><a class="nav-link glb-btn-pep g-link" href="">whitepaper</a></span>
      </li>
      <li class="nav-item pt-2 pb-1 pr-2 visi-sm">
        <span><a class="nav-link glb-btn-syp b-link" href="">go to website</a></span>
      </li>
    </div>
    <div class="col-md-8 col-sm-6 right_head">
      <ul class="nav navbar-right my-2 my-lg-0 pull-right menu_nav">
        <li class="nav-item active pt-1 pb-1 hide-sm">

          <span><a class="nav-link nav-link1 text-header-rap" (click)="ngxSmartModalService.getModal('myModal').open()" style="color: #ffffff">Hi, {{fullName}}</a></span>

          </li>
          <li class="nav-item pt-1 pb-1 hide-sm">
            <a class="nav-link" href="javascript:void(0)"><span class="span_cr">My Balance =  </span><span class="span_balance span_cr">{{balance.toFixed(8)}}</span> <span class="span_cr">{{tknName}} </span></a>
          </li>
          <!--<li class="nav-item pt-1 pb-1 visi-xs dropdown">-->
            <!--<a class="nav-link dropdown-toggle nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i>-->
              <!--<span class="note_div">-->
        <!--<sup *ngIf="((notificationService.getNotifications() | async)|seenPipe) > 0">-->
        <!--{{seenNotificationCountStatus ? 0 : ((notificationService.getNotifications() | async) |-->
        <!--seenPipe)}}</sup>-->

        <!--</span>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu"  *ngIf="(notificationService.getNotifications()|async)">-->
        <!--<ng-container *ngIf="(notificationService.getNotifications() | async).length > 0; else nonotifications">-->
        <!--<li *ngFor="let notification of (notificationService.getNotifications() | async)">-->
        <!--<a>{{notification.message}}</a>-->
        <!--</li>-->
        <!--</ng-container>-->
        <!--<ng-template #nonotifications>-->
        <!--<li>-->
        <!--<a>There is no Notifications</a>-->
        <!--</li>-->
        <!--</ng-template>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="nav-item pt-1 pb-1 visi-xs dropdown">-->
        <!--<a class="nav-link dropdown-toggle nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i>-->
        <!--<span class="note_div">-->
        <!--<sup *ngIf="((notificationService.getNotifications() | async)|seenPipe) > 0">-->
        <!--{{seenNotificationCountStatus ? 0 : ((notificationService.getNotifications() | async) |-->
        <!--seenPipe)}}</sup>-->

        <!--</span>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu"  *ngIf="(notificationService.getNotifications()|async)">-->
        <!--<ng-container *ngIf="(notificationService.getNotifications() | async).length > 0; else nonotifications">-->
        <!--<li *ngFor="let notification of (notificationService.getNotifications() | async)">-->
        <!--<a>{{notification.message}}</a>-->
        <!--</li>-->
        <!--</ng-container>-->
        <!--<ng-template #nonotifications>-->
        <!--<li>-->
        <!--<a>{{ "DASHBOARD.HEADER.NO_NOTIFICATION" | translate }}</a>-->
        <!--</li>-->
        <!--</ng-template>-->
        <!--</ul>-->
        <!--</li>-->
        <li class="nav-item pt-1 pb-1 visi-xs ">
          <a class="nav-link" (click)="logout()" href="/login"><i class="fa fa-sign-out"></i></a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<ngx-smart-modal #myModal identifier="myModal" class="modal_div">
  <div class="modal_main col-sm-12 pt-1 pb-1">
    <div class="row">

      <div class="col-md-7 col-sm-12">
        <span class="err_icon ">
         <i class="fa fa-exclamation-triangle"></i>
      </span>
        <div class="update_div ">
          <h3>update kyc details</h3>
          <p>Your KYC verification is still pending.</p>
          <p>If you haven't updated your KYC details yet, kindly provide the necessary details in your account page so
            you can proceed to participate in the ICO.</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 text-center">
        <div class="link">
          <a (click)="gotoKYCPage()" class="glb-btn-pep">update kyc</a>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>
