ul.nav {
  display: block;

  text-align: right;
}
ul.nav li{
  display: inline-block;
  border-left: 1px solid #ddd;
  position: relative;
  padding: 6px;
  padding-right: 0;
  float: left;
}
ul.nav li:nth-child(1), ul.nav li:nth-child(2){
  border-left: 1px solid transparent;
}
.note_div{
  width: 11px;
  height: 11px;
  line-height: 12px;
  background: #ff5502;
  font-size: 6px;
  color: #fff;
  display: block;
  position: absolute;
  margin: auto;
  top: 5px;
  right: 2px;
  text-align: center;
  border-radius: 100%;
}
.nav-link{
  color: #696969;
  font-size: 12px;

}
.nav-link i{
  font-size: 20px;
}
.nav-link span{
  display: inline-block;
  float: left;
}
.nav-link .span_cr {
  color: #EC6EA5;
}
.nav-link .span_balance{
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.navbar{
  box-shadow: 1px 1px 2px 0px rgba(170, 163, 197, 0.4);
  position: fixed;
  width: 100%;
  z-index: 11;
  height: 62px;
}
.navbar-light .navbar-brand {
  color: #aaa3c5;
  font-size: 16px;
  line-height: 32px;
  z-index: 1;
  position: relative;
}
.nav-link{
  position: relative;
  z-index: 2;
  color: #fffdfd;
}
.navbar-brand {
  margin-left: 1rem;
}
.err_icon{
  float: left;
  width: 100px;
  height: 120px;
  padding: 28px 0;
}
 .err_icon i{
   width: 70px;
   height: 70px;
   font-size: 38px;
   line-height: 64px;
   text-align: center;
   background: #eee;
   border-radius: 50%;
   color: #ff5502;
 }
 .update_div{
   width: calc(100% - 100px);
   padding: 1% 0;
 }
.update_div h3{
  text-transform: uppercase;
  font-size: 18px;
}
.update_div p{
  margin-bottom: 0;
  font-size: 14px;
}
.link{
  height: 120px;
  padding: 44px 0;
}
.link a{
  padding: 10px 60px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
  border-radius: 25px;
}

.dialog__close-btn img {
  color: #c3c1c1;
}
.collapse{
  display: block;
}
.hide-xs{
  display: none!important;
}
.hide-xs2{
  display: none!important;
}
.center-btn li {
  list-style: none;
  text-transform: uppercase;
  font-family: 'orkney-regular';
  font-size: 12px;
  width: 170px;
  text-align: center;
  display: inline-block;
}
.center-btn{
  padding-left: 5%;
}
.head_block{
  position: relative;
}
.head_span{
  position: absolute;
  margin: auto;
  left: 0;right: 0;top: 2px;bottom: 0;
}
.dropdown-toggle::after{
  display: none;
}

.navbar-brand img {
  margin:  0;
  height: 43px;
}

@media screen and (max-width: 1250px){
  .head_span{
    right: 25%;
  }
}
@media screen and (max-width: 991px) {
  .left_head{
    float: left;
  }
  .right_head{
    float: right;
  }
  .head_span{
    right: 0%;
    top: 80px;
    background-color: #f8f9fa;
    height: 50px;
    border-bottom: 1px solid #e3e0eb;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hide-sm{
    display: none!important;
  }
  .left_head{
    width: 50%;
  }
  .right_head{
    width: 50%;
  }

}
