.historytable .table{
  padding-top: 30px;
}
.dif-col{
  color: #ed1e79;
  font-family: 'orkney-bold';
  letter-spacing: 1px;
}

.status {
  display: inline-block;
  font-size: 12px;
  line-height: 21px;
  padding: 5px 15px;
  min-width: 65px;
  text-align: center;
  border-radius: 15.5px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'orkney-bold';
  letter-spacing: 1px;
  vertical-align: middle;
}
.status:hover{
  color:#93278f;
}
.status:after{
  content: "\f061";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-left: 10px;
}
.py{
  padding-bottom: 50px;
}
.btnstate .status:hover {
  color: #afafaf;
  background: transparent!important;
}
.with tr th,
.tre-tab tr th{
  background: transparent;
  color: #343a40;
  font-family: 'orkney-bold';
  border-bottom: 0;
}
.with tr th:first-child,
.tre-tab tr th:first-child{
  border-radius: 20px 0 0 20px;
}
.with tr th:last-child,
.tre-tab tr th:last-child{
  border-radius: 0 20px 20px 0;
}


