<div class="trans-sec footer-remove ">
  <app-header></app-header>
  <div class="div_mar_25">
    <div class="container historytable text-center token-list pt-5">
      <div class="col-md-12 global-rap mt-4">
        <div class=" table-responsive">
          <table class="table user-t table_div text-center">
            <tbody>
            <tr>
              <td style="text-align: left; border: 0">Your {{ tknName }} Balance:</td>
              <td style="text-align: right; border: 0" class="dif-col">{{ balanceTKN }} {{ tknName }}</td>
            </tr>
            <tr>
              <td style="text-align: left">Referral Tokens:
                <a href="/referral" class="glb-btn-pep status">Get Your Code</a>
              </td>
              <td style="text-align: right" class="dif-col">{{ referralTKN }} {{ tknName }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h1 class="mt-5 text-dark">Transactions</h1>
      <span class="span_bor_div"></span>
      <div class="col-md-12 global-rap tre-tab justify-content-center align-items-center  mt-5 mb-5">
        <div class="table-responsive">
          <table class="table table_div text-center">
            <thead>
            <tr>
              <th nowrap class="border-top-0" scope="col">AMOUNT OF GENESISX TOKENS</th>
              <th nowrap class="border-top-0" scope="col">CURRENCY</th>
              <th nowrap class="border-top-0" scope="col">SUM TO PAY</th>
              <th nowrap class="border-top-0" scope="col">STATUS</th>
              <!--<th nowrap class="border-top-0" scope="col">RECEIPT</th>-->
              <th nowrap class="border-top-0" scope="col">TIME LEFT</th>
              <th nowrap class="border-top-0" scope="col">DATE</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trans of transaction | paginate: { itemsPerPage: 5, currentPage: p1 } ; let i = index">
              <td nowrap>{{trans.tknAmount}}</td>
              <td nowrap>{{trans.currencyAbbr}}</td>
              <td nowrap>{{trans.coinAmount}}</td>
              <!--<td nowrap>{{trans.status}}</td>-->
              <td nowrap class="btnstate">
                <ng-container *ngIf="trans.status==='pending' && isAddressExpire[i] === false">
                  <button (click)="pendingTransaction(trans._id, (((p1 - 1) * 5 )+ i));" class="status"
                          style="background: #ff5502;cursor: pointer; ">Pay
                  </button>
                </ng-container>
                <ng-container *ngIf="isAddressExpire[i] === true && trans.status!=='processed'">
                  <button (click)="expireMessage()" class="status"
                          style="background: #ff5502;cursor: pointer; ">Expired
                  </button>
                </ng-container>
                <ng-container *ngIf="trans.status==='processed'">
                  <button (click)="processedTransaction(trans._id);"
                          class="glb-btn-pep status">Receipt
                  </button>
                </ng-container>

              </td>
              <td *ngIf="isAddressExpire[i] === false" nowrap id={{trans._id}}> {{DAYS[i]}}{{DAYS_2[i]}}D - {{HOURS[i]}}{{HOURS_2[i]}}H - {{MINUTES[i]}}{{MINUTES_2[i]}}M - {{SECONDS[i]}}{{SECONDS_2[i]}}S</td>
              <td *ngIf="isAddressExpire[i] === true" nowrap> 00D -00H -00M - 00S </td>
              <td nowrap>{{trans.timestamp | date:'medium' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!transaction || transaction.length === 0">
          <p>No record found!</p>
        </div>
        <!--<div class="py">-->
        <!--<a href="/home" class="glb-btn-pep status">Get More Tokens</a>-->
        <!--</div>-->
        <div *ngIf="!transaction || transaction.length > 4">
        <div class="paginat">
          <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
        </div>
        </div>
      </div>

      <!--<h1>Withdrawals</h1>-->
      <!--<span class="span_bor_div"></span>-->
      <!--<p *ngIf="withdrawalStatus==='disabled'"> Withdrawal is disabled for now.</p>-->
      <!--<div class="col-md-12 with justify-content-center align-items-center mt-5 mb-5">-->
      <!--<div class="table-responsive">-->
      <!--<table class="table table_div text-center">-->
      <!--<thead>-->
      <!--<tr>-->
      <!--<th class="border-top-0" scope="col">DATE</th>-->
      <!--<th class="border-top-0" scope="col">NUMBER OF TOKEN</th>-->
      <!--<th class="border-top-0" scope="col">STATUS</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr *ngFor="let withd of withdraw | paginate: { itemsPerPage: 5, currentPage: p2 }">-->
      <!--<td>#</td>-->
      <!--<td>{{withd.type}}</td>-->
      <!--<td>{{withd.amount}}</td>-->
      <!--<td>{{withd.timestamp}}</td>-->
      <!--</tr>-->
      <!--</tbody>-->
      <!--</table>-->
      <!--</div>-->
      <!--<div *ngIf="!withdraw || withdraw.length === 0">-->
      <!--<p >No record found!</p>-->
      <!--</div>-->
      <!--<div class="paginat"><pagination-controls (pageChange)="p2 = $event"></pagination-controls></div>-->
      <!--</div>-->

    </div>
    <swal
      #ICOSwal
      title="Address Expired!"
      text="This address has been expired!"
      type="error"
      [focusCancel]="true">
    </swal>
  </div>
  <app-navigation></app-navigation>
</div>
