<app-header></app-header>
<div class="container">


  <div class="token_div mt-5">
    <ul>
      <li>
        <span class="inner_token">
          <p>total Investments</p>
          <h3>{{(statistics|async)?.totalAmountInvestment}}</h3>
        </span>
      </li>
      <li>
        <span class="inner_token">
          <p>addresses generated</p>
          <h3>{{(statistics|async)?.totalNoInvestments}}</h3>
        </span>
      </li>

    </ul>
  </div>
  <div class="col-sm-12 first_div pt-5 fl_div text-center">
    <h1>total capital raised</h1>
  </div>
  <div class="col-sm-12 first_div fl_div text-center">


    <div class="btc_div pt-5 mt-5 mb-5">

      <ul>
        <li>
          <span class="inner_ico gra-line bg_ico1">
            <span class="ico ico_svg1">
              <svg role="img" width="75" height="69" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 37">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #ffffff;
                      }
                    </style>
                  </defs>
                  <title>Asset 10</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <polygon class="cls-1" points="18.5 23.23 18.5 6.1 10.89 18.73 18.5 23.23" />
                      <polygon class="cls-1" points="18.5 6.1 18.5 23.23 26.11 18.73 18.5 6.1" />
                      <polygon class="cls-1" points="18.5 24.67 10.89 20.17 18.5 30.9 26.11 20.17 18.5 24.67" />
                    </g>
                  </g>
                </svg>
              </svg>
            </span>
            <h3 class="small-space">{{coinstatistics?.totalEthReceived}} ETH</h3>
          </span>
          <p>1 ETH = $ {{ethUsd}}</p>

        </li>
        <li>
          <span class="inner_ico gra-line bg_ico1">
            <span class="ico ico_svg2">
              <svg role="img" width="32" height="44" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 26.25">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #ffffff;
                      }
                    </style>
                  </defs>
                  <title>Asset 7</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <path class="cls-1" d="M17.52,8C17.23,5.18,14.76,4.23,11.64,4l0-4H9.2l0,3.87-1.93,0L7.27,0H4.85l0,4L3.33,4h0L0,4V6.62s1.79,0,1.76,0a1.23,1.23,0,0,1,1.39,1l0,4.52.25,0H3.19l0,6.34a.84.84,0,0,1-.9.8s-1.76,0-1.76,0L.09,22.24H3.24c.58,0,1.16,0,1.73,0l0,4H7.4l0-4H9.31l0,4,2.42,0,0-4c4.06-.25,6.9-1.29,7.23-5.1.27-3.08-1.18-4.44-3.49-5a3.72,3.72,0,0,0,2-4.07Zm-3.33,8.6c0,3-5.13,2.69-6.77,2.7L7.4,14c1.63,0,6.77-.51,6.79,2.62ZM13,9.14c0,2.73-4.27,2.43-5.64,2.44l0-4.83C8.72,6.75,13,6.29,13,9.14Z"
                      />
                    </g>
                  </g>
                </svg>
              </svg>
            </span>
            <h3 class="small-space">{{coinstatistics?.totalBtcReceived}} BTC</h3>
          </span>

          <p>1 BTC = $ {{btcUsd}}</p>

        </li>
        <li>
          <span class="inner_ico gra-line bg_ico1">
            <span class="ico ico_svg3">
              <svg role="img" width="32" height="44" class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.54 20.36">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #ffffff;
                      }
                    </style>
                  </defs>
                  <title>Asset 8</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <path class="cls-1" d="M8.08,16.36l1.32-5,3.13-1.15.78-2.92,0-.08L10.21,8.36,12.43,0H6.13L3.23,10.91.8,11.8l-.8,3,2.42-.88L.71,20.36H17.47l1.07-4H8.08"
                      />
                    </g>
                  </g>
                </svg>
              </svg>
            </span>
            <h3 class="small-space">{{coinstatistics?.totalLtcReceived}} LTC</h3>
          </span>
          <p>1 LTC = $ {{ltcUsd}}</p>

        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 fl_div">
    <div class=" p-rl global-rap tre-tab justify-content-center align-items-center form_inner mt-5 mb-5">
      <div class="search-btn col-sm-12 br-0">
        <form [formGroup]="searchForm" (submit)="searchRecord();">
          <div class="input-group">
            <!--<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>-->
            <input id="search" type="text" name="query" id="query" class="form-control col-sm-10" name="search" placeholder="Search"
              [formControl]="searchForm.controls['query']" required>
            <span class="col-sm-2 text-right">
              <button class="search-img-icon" *ngIf="searchForm.controls['query'].value" title="clear search" (click)="reset()">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
              <button type="submit" class="search-img-icon">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
      <div class="table-responsive person">
        <table class="table table_div text-center  table-striped">
          <thead>
            <tr>
              <th nowrap class="border-top-0" scope="col">#</th>
              <th nowrap class="border-top-0" scope="col">EMAIL</th>
              <th nowrap class="border-top-0" scope="col">TOKENS</th>
              <th nowrap class="border-top-0" scope="col">REGISTERED</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index" data-toggle="modal" data-target="#exampleModal" (click)="getInvestmentByID(user._id, user.email);
             getGeneratedAddressByID(user._id); getUserInvestmentCount(user._id); getUserAddressCount(user._id)" style="cursor: pointer">
              <td nowrap>{{ i + pastRow }}</td>
              <td nowrap>{{ user.email }}</td>
              <td nowrap>{{ user.balanceTKN}}</td>
              <td nowrap>{{ user.timestamp | date:'medium' }}</td>
            </tr>
            <tr *ngIf="users?.length === 0">
              <td colspan="4">No records found</td>
            </tr>
          </tbody>
        </table>
        <div class="col-sm-12 text-center pt-3 pb-3 pb-0 pageinat">
          <button [disabled]="prevIndex == 0" (click)="changeUserPerPage(previousBtn)">prev</button>
          <span>{{prevIndex + 1}}</span>
          <button [disabled]="nextBtn == finPages || finPages == 0" (click)="changeUserPerPage(nextBtn)">next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal_user" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-12 first_div user_detail mx-auto pb-2 ">
          <div class="row">
            <div class="col-md-6 col-sm-12 ">
              <p>
                <span>email:</span> {{ email }} </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 global-rap table_bar tre-tab justify-content-center align-items-center  mt-5 ">
          <div class="table-responsive">
            <table class="table table_div text-center  table-striped">
              <thead>
                <tr>
                  <th nowrap class="border-top-0" scope="col">#</th>
                  <!--<th nowrap class="border-top-0" scope="col">TxHASH</th>-->
                  <!--<th nowrap class="border-top-0" scope="col">ADDRESS</th>-->
                  <th nowrap class="border-top-0" scope="col">CURRENCY</th>
                  <th nowrap class="border-top-0" scope="col">EXCHANGE RATE</th>
                  <th nowrap class="border-top-0" scope="col">AMOUNT</th>
                  <th nowrap class="border-top-0" scope="col">TOKENS</th>
                  <th nowrap class="border-top-0" scope="col">STATUS</th>
                  <!--<th nowrap class="border-top-0" scope="col">BONUS LEVEL</th>-->
                  <th nowrap class="border-top-0" scope="col">DATE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let userinvestment of userinvestments; let i = index">
                  <td nowrap>{{ i + pastInvestmentRow }}</td>
                  <!--<td nowrap>{{ address.txhsh }}</td>-->
                  <!--<td nowrap>{{ address.address}}</td>-->
                  <td nowrap>{{ userinvestment?.currencyName}}</td>
                  <td nowrap>{{ userinvestment?.exchangeRateValue}}</td>
                  <td nowrap *ngIf="userinvestment.type === 'deposit'">+ {{ userinvestment?.amount}}</td>
                  <td nowrap *ngIf="userinvestment.type === 'invest'">- {{ userinvestment?.amount}}</td>
                  <td nowrap *ngIf="userinvestment.type === 'referral_payment'">+ {{ userinvestment?.amount}}</td>
                  <td nowrap *ngIf="userinvestment.type === 'bonus'">+ {{ userinvestment?.amount}}</td>
                  <td nowrap>{{ userinvestment?.userId.balanceTKN}}</td>
                  <td nowrap>{{ userinvestment?.userId.kycStatus }}</td>
                  <!--<td nowrap>{{ address.bonuslevel}}</td>-->
                  <td nowrap>{{ userinvestment?.userId.timestamp | date:'medium' }}</td>
                </tr>
                <tr *ngIf="userinvestments?.length === 0">
                  <td colspan="5">No records found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-sm-12 text-center p-3 pb-3 pb-0 pageinat">
              <button [disabled]="previnvestmentIndex == 0" (click)="changeUserInvestmentPerPage(previousInvestmentBtn)">prev</button>
              <span>{{previnvestmentIndex + 1}}</span>
              <button [disabled]="nextInvestmentBtn == investmentPage || investmentPage == 0" (click)="changeUserInvestmentPerPage(nextInvestmentBtn)">next</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 first_div user_detail mx-auto pb-2  mt-5">
          <div class="row">
            <div class="col-md-6 col-sm-12 ">
              <p>
                <span>addresses generated:</span>{{addressCount}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 global-rap table_bar tre-tab justify-content-center align-items-center  mt-5 ">
          <div class="table-responsive">
            <table class="table table_div text-center  table-striped">
              <thead>
                <tr>
                  <th nowrap class="border-top-0" scope="col">#</th>
                  <!--<th nowrap class="border-top-0" scope="col">TxHASH</th>-->
                  <th nowrap class="border-top-0" scope="col">ADDRESS</th>
                  <th nowrap class="border-top-0" scope="col">CURRENCY</th>
                  <th nowrap class="border-top-0" scope="col">EXCHANGE RATE</th>
                  <th nowrap class="border-top-0" scope="col">TOKENS</th>
                  <th nowrap class="border-top-0" scope="col">STATUS</th>
                  <!--<th nowrap class="border-top-0" scope="col">BONUS LEVEL</th>-->
                  <th nowrap class="border-top-0" scope="col">DATE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let address of useraddress; let i = index">
                  <td nowrap>{{ i + pastAddressRow}}</td>
                  <!--<td nowrap>{{  address.txhsh }}</td>-->
                  <td nowrap>{{ address?.address}}</td>
                  <td nowrap>{{ address?.currencyId.name}}</td>
                  <td nowrap>{{ address?.exchangeRateValue}}</td>
                  <td nowrap>{{ address?.userId.balanceTKN}}</td>
                  <td nowrap>{{ address?.status }}</td>
                  <!--<td nowrap>{{ address.bonuslevel}}</td>-->
                  <td nowrap>{{ address?.userId.timestamp | date:'medium' }}</td>
                </tr>
                <tr *ngIf="useraddress?.length === 0">
                  <td colspan="5">No records found</td>
                </tr>
              </tbody>
            </table>
            <div class="col-sm-12 text-center pt-3 pb-3 pb-0 pageinat">
              <button [disabled]="prevaddressIndex == 0" (click)="changeUserAddressPerPage(previousAddressBtn)">prev</button>
              <span>{{prevaddressIndex + 1}}</span>
              <button [disabled]="nextAddressBtn == addressPage || addressPage == 0" (click)="changeUserAddressPerPage(nextAddressBtn)">next</button>
              <!--<pagination-controls (pageChange)="p1 = $event" id="table-address1"></pagination-controls>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
