<div class="profile-p footer-remove">
  <app-header></app-header>
  <div class="div_mar_25">
    <div class="container token-list mt-5 text-center">
      <h1>Profile</h1>
      <span class="span_bor_div "></span>
      <div class="global-rap mt-5 mb-5 text-center">
        <div class="row">
          <div class="col-md-6 p-5 text-left">
            <div class="small pb-3">PROFILE</div>
            <div class="p-text pb-3">Please verify all information entered by you before submitting for KYC verification. You cannot modifiy it after
              KYC verification</div>
            <div class="profile-detail cov-btn">
              <label for="basic-name">Name</label>
              <div class="input-group mb-4">
                <input type="text" class="form-control" id="basic-name" value="{{name}}" readonly>
              </div>
              <label for="basic-name">Email</label>
              <div class="input-group mb-4">
                <input type="text" class="form-control" id="basic-phone" value="{{email}}" readonly>
              </div>
              <form [formGroup]="passwordForm">
                <label for="basic-old">Old Password</label>
                <div class="input-group mb-4">
                  <input [formControl]="passwordForm.controls['oldPassword']" type="password" class="form-control" id="basic-old" placeholder="password">
                </div>
                <label for="basic-password">New Password</label>
                <div class="input-group mb-4">
                  <input [formControl]="passwordForm.controls['newPassword']" type="password" class="form-control" id="basic-password" placeholder="password">
                  <swal #errorSwal text="{{passwordFormMessage}}" type="error" [focusCancel]="true">
                  </swal>
                  <swal #successSwal title="SUCCESS!" text="Your password has been changed successfully." type="success" [focusCancel]="true">
                  </swal>
                  <div class="input-group-append">
                    <!-- <button>CHANGE</button> -->
                    <button type="button" [disabled]="passwordFormStatus==='PROCESSING'||passwordForm.invalid" (click)="submitNewPassword()"
                      class="input-group-text glb-btn-syp" id="change-pwd">
                      <ng-container *ngIf="passwordFormStatus!=='PROCESSING'">
                        UPDATE
                      </ng-container>
                      <ng-container *ngIf="passwordFormStatus==='PROCESSING'">
                        Updating..
                      </ng-container>
                    </button>
                  </div>

              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 p-5 two-fa text-left">
          <div class="small pb-3">2FA (Factor Authentication)</div>
          <div class="p-text p-0 col-sm-12">Download app from AppStore (iOS) or Google Play (Android). Open application and select Configure account. Click
            Scan Barcode.</div>
          <div *ngIf="!twoFactorEnabled;else twfaenabled">
            <ngx-qrcode *ngIf="qrcode" [qrc-value]="qrcode.url"></ngx-qrcode>
            <input placeholder="Code" class="form-control" #enableCode style="font-size: 20px; margin-top: 10px" />
            <br/>
            <div class="p-text p-0 col-sm-12">Can't scan the code? Add the entry manually, provide the following details to the application on your phone.</div>
            <div class="pt-2">
              <div class="p-text p-0 col-sm-12">- Account: GenesisX</div>
              <div class="p-text p-0 col-sm-12" *ngIf="qrcode">-Key: {{ qrcode.secret }}</div>
              <div class="p-text p-0 col-sm-12">-Time based: yes</div>
            </div>
            <div class="col-md-12 button-val text-center p-0">
              <span>
                <button type="submit" class="glb-btn-syp" (click)="confirm2FA(enableCode.value)" [disabled]="twofaBtnDisabled"> ENABLE</button>
              </span>
            </div>
            <swal #enableSucces2FASwal title="SUCCESS!" text="your  2FA ( two factor authentication) authentication has been enabled successfully!" type="success" [focusCancel]="true"></swal>
            <swal #enableError2FASwal title="ERROR!" text="{{twofaError}}" type="success" [focusCancel]="true"></swal>
          </div>
          <ng-template #twfaenabled>
            <div class="text-center trans-info mt-5 pt-5">
              <p>Enter the code to diable 2FA </p>
              <input placeholder="Code" class="form-control" #disableCode style="font-size:20px" />
              <br/>
              <br/>
              <button type="submit" class="btn btn-block glb-btn-pep" (click)="disable2FA(disableCode.value)" [disabled]="twofaBtnDisabled">DISABLE 2FA
              </button>
              <swal #disableSucces2FASwal title="SUCCESS!" text="your  2FA ( two factor authentication) authentication has been disabled successfully!" type="success" [focusCancel]="true"></swal>
              <swal #disableError2FASwal title="ERROR!" text="{{disableError}}" type="success" [focusCancel]="true"></swal>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="KYC_verification text-center">
      <h1>KYC Verification</h1>
      <span class="span_bor_div"></span>
      <div class="global-rap mt-5 mb-5">
        <div class="info pt-5 text-center">
          <div class="small pb-3">KYC VERIFICATION</div>
          <div class="p-text pb-3">Please verify all information entered by you before submitting for KYC verification. You cannot modifiy it after
            KYC verification</div>
        </div>

        <form [formGroup]="kycForm" class="kyc-detail kyc-form" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6 p-5">
            <div class="kyc-detail-one cov-btn">
              <label for="basic-name">Name</label>
              <div class="input-group mb-4">
                <input class="form-control" required type="text" [formControl]="kycForm.controls['name']" name="name" placeholder="e.g Jhon">
                <span *ngIf="!kycForm.controls['name'].valid && (kycForm.controls['name'].touched && kycForm.controls['name'].dirty)"
                  class="col-sm-12 form-input-error pt-3">Invalid Name</span>
              </div>
              <label for="basic-name">Address</label>
              <div class="input-group mb-4">
                <textarea class="form-control" required [formControl]="kycForm.controls['address']" name="address" placeholder="Address"></textarea>
                <span *ngIf="!kycForm.controls['address'].valid && (kycForm.controls['address'].touched && kycForm.controls['address'].dirty)"
                      class="col-sm-12 form-input-error pt-3">Invalid address</span>
              </div>
              <label for="basic-name">Contact Number</label>
              <div class="input-group mb-4">
                <input class="form-control" required type="text" [formControl]="kycForm.controls['contactno']" name="contactno" placeholder="Contact Number">
                <span *ngIf="!kycForm.controls['contactno'].valid && (kycForm.controls['contactno'].touched && kycForm.controls['contactno'].dirty)"
                      class="col-sm-12 form-input-error pt-3">Invalid contactno</span>
              </div>
              <label>Upload Passport:</label>
              <div class="input-group mb-5 control-fileupload">
                <span [hidden]="passportCheck" class="up">
                  <input accept="image/*" type="file"  id="files" class="form-control" #passportImage (change)="validatePassport()"></span>
                <!--<span class="uplaod_div">Uplaod file<i class="fa fa-upload"></i></span>-->

                <div class="input-group-append">
                  <span [hidden]="!passportCheck">
                  <img src="assets/images/success.png" class="maxHeight40" alt=""/>
                </span>
                  <span *ngIf="imageType" class="col-sm-12 form-input-error pt-3">Only these types are allowed: *.jpeg *.jpg *.png</span>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-6 p-5 two-fa">
            <div class="kyc-detail-two cov-btn">
              <label for="basic-name">Country</label>
              <div class="input-group mb-4">
                <select class="form-control" [formControl]="kycForm.controls['country']" formControlName="country" name="country">
                  <option [ngValue]="null">Select Country</option>
                  <option *ngFor="let country of (countries|async)"
                          [ngValue]="country._id"> {{country.countryName}} </option>
                </select>
                <span *ngIf="!kycForm.controls['country'].valid && (kycForm.controls['country'].touched && kycForm.controls['country'].dirty)"
                      class="col-sm-12 form-input-error pt-3">Invalid country</span>
                <!--<input type="text" class="form-control" id="kyc-name2" placeholder="e.g Jhon">-->
              </div>
              <label for="basic-name">Date of Birth</label>
              <div class="input-group mb-4">
                <my-date-picker class="form-control" name="dateOfBirth" [options]="myDatePickerOptions" [formControl]="kycForm.controls['dateOfBirth']"></my-date-picker>
                <span *ngIf="!kycForm.controls['dateOfBirth'].valid && (kycForm.controls['dateOfBirth'].touched && kycForm.controls['dateOfBirth'].dirty)"
                      class="col-sm-12 form-input-error pt-3">Invalid Date of Birth</span>
              </div>
              <label for="basic-name">Passport Number</label>
              <div class="input-group mb-4">
                <input class="form-control" required type="text" [formControl]="kycForm.controls['passportNumber']" name="passportNumber" placeholder="Passport Number">
                <span *ngIf="!kycForm.controls['passportNumber'].valid && (kycForm.controls['passportNumber'].touched && kycForm.controls['passportNumber'].dirty)"
                      class="col-sm-12 form-input-error pt-3">Invalid passportNumber</span>
              </div>

              <label>Upload Selfie:</label>
              <div class="input-group mb-5 control-fileupload">
                <span [hidden]="utilityCheck" class="up">
                  <input type="file" accept="image/*" id="files1" class="form-control" #utilityImage (change)="validateUtility()"></span>
                <div class="input-group-append">
                  <span [hidden]="!utilityCheck">
                  <img src="assets/images/success.png" class="maxHeight40" alt=""/>
                </span>
                  <span *ngIf="imageType" class="col-sm-12 form-input-error pt-3">Only these types are allowed: *.jpeg *.jpg *.png</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 error-message text-center"> (Warning: If KYC is not approved, your deposited amount will be refunded)</div>
          <div class="col-md-12 button-val text-center p-0">
            <span>
              <button type="submit" class="glb-btn-syp" [disabled]="!kycForm.valid || kycPageStatus==='PROCESSING'" (click)="submit()">
                <ng-container *ngIf="kycPageStatus!=='PROCESSING'">Submit</ng-container>
                <ng-container *ngIf="kycPageStatus==='PROCESSING'">Still Processing..</ng-container>
              </button>
            </span>
          </div>
          <swal #errorKYCSwal title="ERROR!" text="{{KYCErrorMessage}}" type="error" [focusCancel]="true"></swal>
          <swal #successKYCSwal title="SUCCESS!" text="Your KYC details has been saved successfully." type="success" [focusCancel]="true"></swal>
        </div>
        </form>

      </div>
    </div>
    <div class="wallet-sec text-center">
      <h1>Wallet</h1>
      <span class="span_bor_div"></span>
      <div class="global-rap p-5 mt-5 mb-5">
        <p class="p-text">
          To receive GENESISX tokens you'll need an ERC20-compliant ETH wallet. If you don't have one, watch our tutorial video and create your ETH wallet for free at MyEtherWallet.com.</p>
        <div class="ref-sec col-md-12">
          <div class="row button-val">
            <div class="col-md-9">
              <input type="text" [(ngModel)]="ethereumAddress" class="form-control">
            </div>
            <div class="copy col-md-3">
              <a class="glb-btn-syp" (click)="saveAddress()">SAVE</a>
            </div>
          </div>
          <swal #ethSwal title="SUCCESS!" text="Your ethereum address is stored successfully." type="success" [focusCancel]="true">
          </swal>
        </div>
      </div>
    </div>
  </div>
</div>
  <swal #twoFASwal title="ERROR!" text="Please verify yout 2 factor authentication first!" type="success" [focusCancel]="true"></swal>
<app-navigation></app-navigation>
</div>

<!-- popup for 2FA for reset password-->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <div class="text-center trans-info mt-5 pt-5">
        <p>Enter 2FA CODE</p>
        <input id="resetPassword" placeholder="Code" class="form-control" #passwordCode style="font-size:20px" />
        <br/>
        <br/>
        <button type="submit" class="btn btn-block glb-btn-pep" (click)="modifyPasswordwith2FA(passwordCode.value)" [disabled]="twofaBtnDisabled">SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end-->

<!-- popup for 2FA for KYC -->
<div id="kycPopup" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('kycPopup').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <div class="text-center trans-info mt-5 pt-5">
        <p>Enter 2FA CODE</p>
        <input placeholder="Code" id="kycData" class="form-control" #disableCode style="font-size:20px" />
        <br/>
        <br/>
        <button type="submit" class="btn btn-block glb-btn-pep" (click)="submitwith2FA(disableCode.value)" [disabled]="twofaBtnDisabled">SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end-->

<!-- popup for Wallet for KYC -->
<div id="walletPopup" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('walletPopup').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <div class="text-center trans-info mt-5 pt-5">
        <p>Enter 2FA CODE</p>
        <input placeholder="Code" id="walletAddress" class="form-control" #addressCode style="font-size:20px" />
        <br/>
        <br/>
        <button type="submit" class="btn btn-block glb-btn-pep" (click)="saveAddresswith2FA(addressCode.value)" [disabled]="twofaBtnDisabled">SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end-->
