.cov-btn .input-group>.input-group-append>.input-group-text{
  border-radius: 25px;
  padding: 0 30px;
  z-index: 0;
}
.cov-btn .input-group>.input-group-append>.input-group-text.glb-btn-syp:hover{
  background: #EC6EA5;
  color: #ffffff;
}
.cov-btn .input-group-append {
  margin-left: -18px;
}
.two-fa .pr-code{
  width: 120px;
  height: 120px;
  display: block;
  margin: 20px auto;
}
.button-val button{
  padding: 11px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.button-val span a,
.button-val a{
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 8px;
  margin: 30px 20px 0;
  border-radius: 25px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
  text-decoration: none;
}
.button-val span a.glb-btn-pep{
  width: 300px;
  margin: 0;
  padding: 14px 6px;
  display: inline-block;
  margin-right: 20px;
}
.button-val span a.glb-btn-syp,
.button-val a {
  width: 120px;
  display: inline-block;
  margin: 0;
}
.button-val {
  padding-top: 20px!important;
  padding-bottom: 30px!important;
}

.KYC_verification i {
  font-size: 24px;
}
.KYC_verification .p-5 {
  padding-bottom: 0!important;
}
.p-text {
  word-wrap: break-word;
}
.global-rap label{
  float: left;
}
.trans-info button{
  border-radius: 25px;
  padding: 10px;
}
.ng-star-inserted .p-text{
  font-size: 14px;
}

input[type=file] {
  display: block !important;
  right: 0;
  top: 4px;
  height: 34px;
  width: 100%;
  background: none;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  border: none;
}
.control-fileupload input[type=file]{
  opacity: 0;
}
.control-fileupload input[type=file].classToBeAdded {
  opacity: 1!important;
  right: 112px;
}
.control-fileupload {
  display: block;
  border: 1px solid #d6d7d6;
  width: 100%;
  line-height: 36px;
  padding: 0px 10px 2px 10px;
  overflow: hidden;
  position: relative;
  background-color: #F1F1F1;
  border-radius: 25px;
  height: 45px;
}
.control-fileupload:before,
.control-fileupload input,
.control-fileupload label {
  cursor: pointer !important;
}
.control-fileupload:before {
  padding: 15px;
  margin-bottom: 0;
  color: #fffdfd;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #ed1e79;
  transition: color 0.2s ease;
  content: "\f093";
  position: absolute;
  z-index: 1;
  top: -4px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  right: -2px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}
.control-fileupload:hover:before,
.control-fileupload:focus:before {
  background-color: #cccccc;
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.2s ease-out;
  transition: background-position 0.2s ease-out;
}
.control-fileupload label {
  line-height: 24px;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  z-index: 1;
  margin-right: 90px;
  margin-bottom: 0px;
  cursor: text;
}
@media screen and (max-width: 991px) {
  .token-list .p-5{
    padding: 1rem!important;
  }
}
