<section class="main_block log-in">
  <div class="background-img-level"></div>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="inner_login row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="login_right col-sm-12 text-center">
            <div class="logo bg-dark">
              <img src="/assets/images/playchain-logo-color-big.png"/>
            </div>
            <div class="login_form">
              <br>
              <!--<h2 class="mo-hi-view">sign in</h2>-->
              <form [formGroup]="form" autocomplete="off" (ngSubmit)="login()" class="log-bg">
                <div class="e-mail-fs input-group col-sm-12 ">
                  <input type="text" formControlName="email" class="form-control" placeholder="Email"
                         aria-describedby="sizing-addon1">
                  <span *ngIf="form.controls['email'].invalid && (form.controls['email'].touched && form.controls['email'].dirty)"
                    class="col-sm-12 form-input-error text-danger pt-3">Invalid Email</span>
                </div>
                <div class="input-group col-sm-12">
                  <input type="password" formControlName="password" class="form-control" placeholder="Password"
                         aria-describedby="sizing-addon1">
                  <span *ngIf="form.controls['password'].invalid && (form.controls['password'].touched && form.controls['password'].dirty)"
                    class="col-sm-12 form-input-error text-danger pt-3">Minimum length for password must be 6 characters.</span>
                </div>
                <!--<div class="input-group col-sm-12">-->
                <!--<input type="text" formControlName="twoFactorCode"  class="form-control" placeholder="Two Factor Code" aria-describedby="sizing-addon1">-->
                <!--</div>-->
                <div class="input-group col-sm-12">
                  <re-captcha style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;" id="signupCapcha" (resolved)="resolvedLogin($event)"></re-captcha>
                  <!-- <span class="col-sm-12 span_link text-center">forget password? <a  [routerLink]="['/forgot-password']" class="">Remind</a></span> -->
                  <span class="col-sm-12 span_link text-center">forget password? <a routerLink="/forgotpassword" class="">Remind</a></span>
                </div>
                <div class="login_btn input-group col-sm-12">
                  <swal
                    #errorSwal
                    title="{{pageError}}"
                    type="error"
                    [focusCancel]="true">
                  </swal>
                  <button type="submit" class="glb-btn-pep btn btn-primary"
                          [disabled]="form.invalid || pageStatus === 'PROCESSING' || !googleCaptchaCheck">
                    <ng-container *ngIf="pageStatus === 'START'">Login</ng-container>
                    <ng-container *ngIf="pageStatus === 'PROCESSING'">Login...</ng-container>
                  </button>
                </div><br>
                <!--<div class="text-center mt-2 pb-3 col-sm-12">-->
                  <!--<span class="span_link">Don't have an account? <a [routerLink]="['/sign-up']" class="">Sign Up</a> here. </span>-->
                <!--</div>-->
              </form>
            </div>
          </div>
        </div>
      </div>
      <p class="foot-copy">The GenesisX ICO Dashboard is powered by Block Gemini | &copy; Copyright 2018, Block Gemini
        Technologies FZ-LLC, Dubai, UAE</p>
    </div>
  </div>
</section>

