.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}

.btn-toggle.btn-lg {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1.7rem;
  width: 4rem;
  border-radius: 2.5rem;
}

.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}

.btn-toggle.active {
  background-color: #98C454;
}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: rgba(211,94,52,1);
  background: -moz-linear-gradient(left, rgba(211,94,52,1) 0%, rgba(225,101,56,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(211,94,52,1)), color-stop(100%, rgba(225,101,56,1)));
  background: -webkit-linear-gradient(left, rgba(211,94,52,1) 0%, rgba(225,101,56,1) 100%);
  background: -o-linear-gradient(left, rgba(211,94,52,1) 0%, rgba(225,101,56,1) 100%);
  background: -ms-linear-gradient(left, rgba(211,94,52,1) 0%, rgba(225,101,56,1) 100%);
  background: linear-gradient(to right, rgba(211,94,52,1) 0%, rgba(225,101,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d35e34', endColorstr='#e16538', GradientType=1 );
}

.btn-group-lg>.btn, .btn-lg {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem;
}

.btn-toggle.btn-lg.active > .handle {
  left: 2.5000rem;
  transition: left .25s;
}
.btn-toggle:before, .btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.100rem;
  left: 0.100rem;
  width: 1.50rem;
  height: 1.50rem;
  border-radius: 1.875rem;
  background: rgba(225,225,225,1);
  background: -moz-linear-gradient(left, rgba(225,225,225,1) 0%, rgba(181,181,181,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,225,225,1)), color-stop(100%, rgba(181,181,181,1)));
  background: -webkit-linear-gradient(left, rgba(225,225,225,1) 0%, rgba(181,181,181,1) 100%);
  background: -o-linear-gradient(left, rgba(225,225,225,1) 0%, rgba(181,181,181,1) 100%);
  background: -ms-linear-gradient(left, rgba(225,225,225,1) 0%, rgba(181,181,181,1) 100%);
  background: linear-gradient(to right, rgba(225,225,225,1) 0%, rgba(181,181,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#b5b5b5', GradientType=1 );
  transition: left .25s;
  border: solid 2px #696969;
}
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  text-align: center;
  font-weight: 600;
  font-size: .8rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: absolute;
  bottom: -4px;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}
.btn-toggle.btn-lg:after {
  content: 'Disabled. Click to enable.';
  right: -5rem;
  opacity: .5;
}
.btn-toggle.btn-lg.active:after {
  opacity: .8;
  content: 'Enabled. Click to disable.';
}
.btn-toggle:after {
  color: #6b7381;
}
.btn:focus{
  box-shadow: none;
}

.apply-now{
  padding: 5% 0 0;
}
.link_skip a {
  color: #aaa3c5;
}
.link_skip {
  text-align: right;
  padding: 10px 0;
}
