<div class="container">
  <div class="apply-now">
    <div class="headline">
      <h1>You're almost ready!</h1>
      <span class="span_bor_div1"></span>
      <p>Please take a few moments to set up your account <br>before entering the dashboard.</p>
    </div>
    <div class="link_skip pull-right col-sm-12">
      <span (click)="skip()" style="cursor: pointer">Skip this step <i class="fa fa-share"></i></span>
    </div>
    <div class="inner_apply_now">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item col-sm-3">
          <a class="nav-link active" data-toggle="tab" href="#acc-sec" role="tab">STEP 1:<br> Account Security</a>
        </li>
        <li class="nav-item col-sm-3">
          <a class="nav-link" data-toggle="tab" href="#add-wal" role="tab">STEP 2:<br> Add Wallet</a>
        </li>
        <li class="nav-item col-sm-3">
          <a class="nav-link" data-toggle="tab" href="#inv-frd" role="tab">STEP 3:<br> Invite Friends</a>
        </li>
        <li class="nav-item col-sm-3">
          <a class="nav-link" data-toggle="tab" href="#settings" role="tab">STEP 4:<br> Provide KYC</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content tab_content_block">
        <div class="tab-pane active" id="acc-sec" role="tabpanel">
          <div class="level1 tab_level col-sm-12">
            <div class="col-sm-9 left_tab">
              <h4><span>LEVEL 1 -</span> E - Mail Verification</h4>
              <p>Enabling this feature will ensure that an approval link will be send to your registered e-mail, every time you attempt to login.
                You will not be able to log-in to the dashboard unless you click on the approval link in your inbox.</p>
              <div class="">
                <button type="button" class="btn btn-lg btn-toggle {{isMailVerificationClass}}" (click)="mailVerification(isMailVerification)" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <div class="handle"></div>
                </button>
              </div>
            </div>
            <div class="col-sm-3 right_tab"></div>
          </div>
          <div class="level2 tab_level col-sm-12">
            <div class="col-sm-9 left_tab">
              <h4><span>LEVEL 2 -</span> Two-Factor Authentication</h4>
              <p>Two Factor Authentication acts as an extra layer of security for your account. When logging in you
                will need both the account password plus the one-time password (OTP) generated through Google Authenticator.</p>
              <p>You can download Google Authenticator in the App Store or in the Google Play Store. For those on Android devices:
              Open Google Authenticator on your device, click the 3 dots in the upper right corner, select Add an account, and Scan the barcode
              on the right. For those on ios devices: Open Google Authenticator on your device, click on the + symbol in the upper right,
              then click Scan barcode and scan the barcode on the right.</p>
              <div class="">
                <button type="button" class="btn btn-lg btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <div class="handle"></div>
                </button>
              </div>
            </div>
            <div class="col-sm-3 right_tab"></div>
          </div>
        </div>
        <div class="tab-pane" id="add-wal" role="tabpanel">...</div>
        <div class="tab-pane" id="inv-frd" role="tabpanel">...</div>
        <div class="tab-pane" id="pro-kyc" role="tabpanel">...</div>
      </div>
    </div>
  </div>
</div>
